{"swagger":"2.0","info":{"description":"API para integração com Aplicações de empresas Emissoras de Cartões de Crédito","version":"2.198.0","title":"PIER Labs Homologação","termsOfService":"http://pierlabs.io/terms/","contact":{"name":"PIER Labs","url":"http://pierlabs.io","email":"pierlabs@conductor.com.br"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"host":"sandbox.conductor.com.br","basePath":"/v2","tags":[{"name":"ServicoConta","description":"Operações de adesão de pacote de tarifas"},{"name":"Fatura","description":"Operações de Faturas"},{"name":"Lote","description":"Lote Cartao Resource"},{"name":"PermissaoPais","description":"Operações com Conta"},{"name":"CadastroCliente","description":"Operações relacionadas a adicionais de Contas MultiApp"},{"name":"TransferenciaBancaria","description":"Operações com transferência bancária"},{"name":"RiscoFraude","description":"Operações com a riscoFraude"},{"name":"Relatórios","description":"Recurso para geraçãoo de relatórios"},{"name":"LimiteDisponibilidade","description":"Operações com Limites Disponibilidades"},{"name":"Operações Bancárias","description":"Opções de operações bancárias"},{"name":"Log","description":"Ações com logs de usuário"},{"name":"Antecipacao","description":"Operações com Antecipações"},{"name":"Pagamento","description":"Operações de Pagamento"},{"name":"ControleCartao","description":"Operações de controle e permissão por cartão"},{"name":"Contestação","description":"Status contestação"},{"name":"Faturamento","description":"Operações com Faturamento"},{"name":"Fraude","description":"Motivo Fraude"},{"name":"AplicacaoMobile","description":"Operações de Dispositivos"},{"name":"Oportunidade","description":"Operações com Oportunidades"},{"name":"FAQ","description":"Operações com FAQs"},{"name":"Personalizações de parcelamento","description":"Operações de personalizações de parcelamento"},{"name":"Acordo","description":"Operações de Pagamento"},{"name":"ChaveCriptografia","description":"Recursos para descriptografar/criptografar informações"},{"name":"Autorizacao","description":"Operações com Transações On Us de Autorização"},{"name":"Taxa","description":"Recurso que disponibiliza as taxas de refinanciamento"},{"name":"InscricaoAPN","description":"Ações com inscrições de notificação APN do emissor"},{"name":"Configuracoes","description":"Operações relacionadas a configurações"},{"name":"TiposFuncoes","description":"Operações com tipos de Funções ativas"},{"name":"DadosBancariosConta","description":"Dados Bancarios Conta Resource"},{"name":"Usuario","description":"Representa o Recurso  para Controle de Segurança de recurso"},{"name":"SMS","description":"Recurso de SMS"},{"name":"Estabelecimento","description":"Operações com estabelecimento"},{"name":"GrupoChargeback","description":"Operações de grupos de chargeback"},{"name":"Chave","description":"Tipo chave resource"},{"name":"EnderecoNacional","description":"Operações de Consulta ao Diretório Nacional de Endereços (DNE)"},{"name":"Notificacao","description":"Operações de Emails"},{"name":"UsuarioToken","description":"Ações com os tokens de usuários"},{"name":"Arquivo","description":"Operações com auditorias de arquivos estáticos"},{"name":"Webhook","description":"Webhook Resource"},{"name":"Limite","description":"Operações com  limites"},{"name":"PlataformaMobile","description":"Operações de Dispositivos"},{"name":"DebitoRecorrente","description":"Operações de Conta Debito Recorrente"},{"name":"CadastroGeral","description":"Operações Gerais"},{"name":"Boleto","description":"Operações com boleto"},{"name":"Cartao","description":"Operações com cartão"},{"name":"AjusteFinanceiro","description":"Operação de ajuste financeiro levando em consideração a conta"},{"name":"Compra","description":"Operações referentes a compras"},{"name":"Dispositivo","description":"Operações de Dispositivos"},{"name":"Documento","description":"Operações com documentos"},{"name":"StatusParametro","description":"Status e Parâmetros"},{"name":"Parametro","description":"Parâmetros dos produtos e do emissor"},{"name":"Conta","description":"Operações para Aderir Pagamento "},{"name":"Proposta","description":"Documento Proposta Resource"},{"name":"Credor","description":"Operações com credores"},{"name":"MultiApp","description":"Operações com MultiApp"},{"name":"PessoaJuridica","description":"Representa o recurso de Pessoa Jurídica"},{"name":"Financiamento","description":"Operações de financiamentos"}],"schemes":["http"],"paths":{"/api/acordos":{"get":{"tags":["Acordo"],"summary":"Listar acordos existentes","description":"Realiza listagem de todos os acordos existentes na base de dados do emissor","operationId":"listarAcordos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"idConta","in":"query","description":"Código de identificação da conta, consultar em <a href='https://pierpro.conductor.com.br/reference/conta#listarcontas'> Listar contas </a>","required":false,"type":"integer","format":"int64"},{"name":"statusAcordo","in":"query","description":"Indica se status do acordo na base está ativo quando o valor for 1. Caso não esteja, o valor é 0 (e.g. 1)","required":false,"type":"integer","format":"int64"},{"name":"dataAcordo","in":"query","description":"Data do acordo, no formato yyyy-MM-dd (e.g. 2020-10-31)","required":false,"type":"string"},{"name":"quantidadeParcelas","in":"query","description":"Quantidade de parcelas referentes ao acordo (e.g. 12)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageAcordoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]},"post":{"tags":["Acordo"],"summary":"Criar acordo","description":"Realiza a criação de um novo acordo de cobrança. Para isso é necessário que você tenha a seguinte informação:<ul><li>Código de identificação da conta</li></ul>","operationId":"incluirAcordo","consumes":["application/json;charset=UTF-8"],"produces":["application/json"],"parameters":[{"in":"body","name":"acordoPersist","description":"acordoPersist","required":true,"schema":{"$ref":"#/definitions/AcordoPersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AcordoDetalheResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/acordos/planos-parcelamentos":{"post":{"tags":["Acordo"],"summary":"Realiza simulações de planos de parcelamento para acordos","description":"Este recurso que permite realizar a simulação de planos de parcelamentos para abertura de acordos","operationId":"simularPlanosParcelamentosAcordos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PlanoParcelamentoAcordoRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PlanoParcelamentoAcordoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/acordos/{id}":{"get":{"tags":["Acordo"],"summary":"Consultar dados de um acordo","description":"Consulta os dados de um determinado acordo a partir de seu código de identificação, armazenado na base dados do emissor","operationId":"consultarAcordo","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código identificação do acordo, consultar em <a href='https://pierpro.conductor.com.br/reference/acordo#listaracordos> Listar acordos </a>","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AcordoDetalheResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/acordos/{id}/arquivo.pdf":{"post":{"tags":["Acordo"],"summary":"Gerar arquivo do termo de acordo","description":"Este recurso permite a geração e download do termo de um acordo ativo a partir de seu identificador.","operationId":"gerarTermoAcordo","consumes":["application/json"],"produces":["application/pdf","*/*"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do acordo (id).","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string","format":"byte"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/acordos/{id}/boletos":{"post":{"tags":["Acordo"],"summary":"Realiza a geração de um boleto de entrada para o código de identificação do acordo informado","description":"Realiza a geração de um boleto de entrada para o código de identificação do acordo informado.","operationId":"gerarBoletoEntrada","consumes":["application/json;charset=UTF-8"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"acordoBoletoPersist","description":"acordoBoletoPersist","required":false,"schema":{"$ref":"#/definitions/AcordoBoletoPersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BoletoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/acordos/{id}/boletos.pdf":{"get":{"tags":["Acordo"],"summary":"Visualizar boletos do acordo","description":"Permite visualizar, em formato PDF, os boletos das parcelas do acordo informado. Para isso é necessário que você tenha a seguinte informação:<ul><li>Código de identificação do acordo</li></ul>","operationId":"visualizarBoletosAcordo","consumes":["application/json"],"produces":["application/pdf","*/*"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do acordo, consultar em <a href='https://pierpro.conductor.com.br/reference/acordo#listaracordos'> Listar acordos </a>","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/acordos/{id}/enviar-termo":{"post":{"tags":["Acordo"],"summary":"Enviar termo do acordo por e-mail.","description":"Este recurso permite o envio por e-mail do termo de um acordo ativo a partir de seu identificador. Caso o e-mail para envio não seja informado, o termo será enviado para o e-mail cadastrado na conta","operationId":"enviarTermoPorEmail","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do acordo (id).","required":true,"type":"integer","format":"int64"},{"in":"body","name":"emailRequest","description":"emailRequest","required":true,"schema":{"$ref":"#/definitions/AcordoEmailRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/acordos/{id}/quebrar":{"post":{"tags":["Acordo"],"summary":"Quebrar acordo","description":"Realiza a quebra de um acordo presente na base do emissor. Para isso é necessário que você tenha a seguinte informação:<ul><li>Código de identificação do acordo</li></ul>","operationId":"quebrarAcordo","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do acordo, consultar em <a href='https://pierpro.conductor.com.br/reference/acordo#listaracordos'> Listar acordos </a>","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AcordoQuebraResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/adesoes-pagamentos-sabados":{"get":{"tags":["Conta"],"summary":"Consulta adesão de pagamento no sábado","description":"Este recurso permite consultar uma adesão de pagamento no sábado","operationId":"consultarUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"query","description":"Id da conta","required":true,"type":"integer","format":"int64"},{"name":"dataVencimento","in":"query","description":"Data de vencimento da adesão","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdesaoPagamentoSabadoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]},"post":{"tags":["Conta"],"summary":"Cadastro adesão de pagamento no sábado","description":"Este recurso permite cadastrar uma adesão de pagamento no sábado","operationId":"cadastrarUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"query","description":"Id da conta","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdesaoPagamentoSabadoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/adquirentes-estabelecimento":{"get":{"tags":["Estabelecimento"],"summary":"Listar vínculos dos estabelecimento com os adquirentes","description":"Realiza listagem dos vínculos dos estabelecimento com os adquirentes presentes na base do emissor","operationId":"listarVinculosEstabelecimentoAdquirente","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"idAdquirente","in":"query","description":"Código de identificação do adquirente","required":false,"type":"integer","format":"int64"},{"name":"idEstabelecimento","in":"query","description":"Código de identificação do estabelecimento, consultar em <a href='https://pierpro.conductor.com.br/reference/estabelecimento#listarestabelecimentos'> Listar estabelecimentos </a>","required":false,"type":"integer","format":"int64"},{"name":"codigoEstabelecimentoAdquirente","in":"query","description":"Código do vínculo entre o estabelecimento e o adquirente","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageVinculoEstabelecimentoAdquirenteResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]},"post":{"tags":["Estabelecimento"],"summary":"Realiza o cadastro de um novo VinculoEstabelecimentoAdquirente","description":"Este método permite que seja cadastrado um novo VinculoEstabelecimentoAdquirente","operationId":"salvarVinculoEstabelecimentoAdquirente","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"vinculoEstabelecimentoAdquirentePersist","description":"vinculoEstabelecimentoAdquirentePersist","required":true,"schema":{"$ref":"#/definitions/VinculoEstabelecimentoAdquirentePersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/VinculoEstabelecimentoAdquirenteResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/adquirentes-estabelecimento/{id}":{"get":{"tags":["Estabelecimento"],"summary":"Apresenta os dados de um determinado Vínculo","description":"Este método permite consultar um determinado Vínculo a partir do seu código de identificação (id)","operationId":"consultarVinculoEstabelecimentoAdquirente","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do Vínculo (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/VinculoEstabelecimentoAdquirenteResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/adquirentes-estabelecimento/{id}/desabilitar":{"post":{"tags":["Estabelecimento"],"summary":"Desabilitar um Vínculo","description":"Este método realiza a desativação de um vínculo","operationId":"desabilitarVinculoEstabelecimentoAdquirente","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do Vínculo (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/adquirentes-estabelecimento/{id}/habilitar":{"post":{"tags":["Estabelecimento"],"summary":"Habilitar um Vínculo","description":"Este método realiza a ativação de um vínculo","operationId":"habilitarVinculoEstabelecimentoAdquirente","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do Vínculo (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/ajustes-financeiros":{"get":{"tags":["AjusteFinanceiro"],"summary":"Listar ajustes financeiros","description":"Permite listar ajustes financeiros existentes na base de dados do emissor. Para consultar o cartão as seguintes informações são necessárias:<ul><li> Código de identificação do tipo de ajuste </li><li> Código de identificação da conta </li></ul>","operationId":"listarAjustesFinanceiros","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"idTipoAjuste","in":"query","description":"Código identificador do tipo de ajuste","required":false,"type":"integer","format":"int64"},{"name":"dataAjuste","in":"query","description":"Data do ajuste no formato yyyy-MM-dd'T'HH:mm:ss.SSSZ","required":false,"type":"string"},{"name":"valorAjuste","in":"query","description":"Valor do ajuste","required":false,"type":"number"},{"name":"identificadorExterno","in":"query","description":"Codigo Hexadecimal","required":false,"type":"string"},{"name":"idConta","in":"query","description":"Código identificador da conta","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageAjusteResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]},"post":{"tags":["AjusteFinanceiro"],"summary":"Realizar ajuste financeiro","description":"Realiza um ajuste financeiro. Para isso é necessário que você tenha as seguintes informações:<ul><li>Código de identificação da conta</li><li>Código de identificação do tipo de ajuste</li><li>Data do ajuste</li><li>Valor do ajuste</li></ul>","operationId":"salvarAjusteFinanceiro","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"login","in":"header","description":"login","required":false,"type":"string"},{"name":"idTipoAjuste","in":"query","description":"Código identificador do tipo de ajuste","required":true,"type":"integer","format":"int64"},{"name":"dataAjuste","in":"query","description":"Data do ajuste no formato yyyy-MM-dd'T'HH:mm:ss.SSSZ","required":true,"type":"string"},{"name":"valorAjuste","in":"query","description":"Valor do ajuste","required":true,"type":"number"},{"name":"identificadorExterno","in":"query","description":"Identificador Externo","required":false,"type":"string"},{"name":"idTransacaoOriginal","in":"query","description":"Identificador da transação original (estorno)","required":false,"type":"integer","format":"int64"},{"name":"idEstabelecimento","in":"query","description":"Identificador do estabelecimento quando o pagamento for efetuado em loja","required":false,"type":"integer","format":"int64"},{"name":"flagAtendimento","in":"query","description":"Flag para lançar o atendimento","required":false,"type":"boolean"},{"name":"mensagemAtendimento","in":"query","description":"Mensagem enviada no atendimento","required":false,"type":"string"},{"name":"descricaoEstabelecimentoExterno","in":"query","description":"Descrição externa do estabelecimento","required":false,"type":"string"},{"name":"idConta","in":"query","description":"Código identificador da conta","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AjusteFinanceiroResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/ajustes-financeiros/{id}":{"get":{"tags":["AjusteFinanceiro"],"summary":"Consultar ajuste financeiro","description":"Permite consultar dados de um determinado ajuste. Para consultar os ajustes financeiros as seguintes informações são necessárias:<ul><li>Código de identificação do ajuste financeiro</li></ul>","operationId":"consultarAjusteFinanceiro","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do ajuste, consultar em <a href='https://pierpro.conductor.com.br/reference/ajustefinanceiro'> Consultar ajustes financeiros </a>","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AjusteFinanceiroResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/anuidades":{"get":{"tags":["ServicoConta"],"summary":"Listar anuidades","description":"Realiza listagem das anuidades da conta","operationId":"listarAnuidadesUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageAnuidadeResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/api/grupos-origens-comerciais":{"get":{"tags":["Estabelecimento"],"summary":"Listar grupos de origens comerciais","description":"Lista os grupos de origens comerciais","operationId":"listarGruposOrigensComerciais","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"nome","in":"query","description":"Nome do grupo de origem comercial","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageGrupoOrigemComercialResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}],"deprecated":true}},"/api/aplicacoes-mobile":{"get":{"tags":["AplicacaoMobile"],"summary":"Lista os aplicacoes mobile cadastradas","description":"Este método permite que sejam listadas as aplicacoes mobile existentes na base do PIER","operationId":"listarAplicacoesMobile","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"id","in":"query","description":"Identificador da Aplicacao Mobile","required":false,"type":"string"},{"name":"idPlataformaMobile","in":"query","description":"Identificador da Plataforma Mobile","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageAplicacaoMobileResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]},"post":{"tags":["AplicacaoMobile"],"summary":"Cadastra Aplicacao Mobile","description":"Esse recurso permite cadastrar aplicacoes mobile","operationId":"salvarAplicacaoMobile","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"persist","description":"persist","required":true,"schema":{"$ref":"#/definitions/AplicacaoMobilePersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AplicacaoMobileResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/aplicacoes-mobile/{id}":{"put":{"tags":["AplicacaoMobile"],"summary":"Atualiza Aplicacao Mobile","description":"Esse recurso permite atualizar aplicacao mobile","operationId":"alterarAplicacoesMobile","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação da Aplicacao (id)","required":true,"type":"integer","format":"int64"},{"in":"body","name":"update","description":"update","required":true,"schema":{"$ref":"#/definitions/AplicacaoMobileUpdate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AplicacaoMobileResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/arquivos":{"get":{"tags":["Arquivo"],"summary":"Listar arquivos do Pier Cloud","description":"Este recurso permite a listagem de todos os arquivos disponíveis no Pier Cloud","operationId":"listarArquivos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"nome","in":"query","description":"Nome do arquivo","required":false,"type":"string"},{"name":"idTipoArquivo","in":"query","description":"Tipo do arquivo","required":false,"type":"integer","format":"int64"},{"name":"idStatusArquivo","in":"query","description":"Identificador do status do arquivo","required":false,"type":"integer","format":"int64"},{"name":"extensao","in":"query","description":"Extensão do arquivo","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageArquivoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]},"post":{"tags":["Arquivo"],"summary":"Permite armazenar arquivos no PIER Cloud","description":"Este recurso permite o armazenamento de arquivos no PIER Cloud","operationId":"salvarArquivo","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"arquivoPersist","description":"arquivoPersist","required":true,"schema":{"$ref":"#/definitions/ArquivoPersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArquivoDetalheResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/arquivos-auditorias":{"get":{"tags":["Arquivo"],"summary":"Lista as auditorias de arquivos vinculadas a um Número da Receita Federal","description":"Este recurso permite listar as auditorias de arquivos vinculadas a um Número da Receita Federal que será passado como parâmetro","operationId":"listarAuditorias","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"numeroReceitaFederal","in":"query","description":"Parâmetro vinculado a um arquivo no ato de seu cadastro","required":true,"type":"string"},{"name":"page","in":"query","description":"Página solicitada (Default =0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default = 50, Max = 50)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageArquivoAUDResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/arquivos/integrar":{"post":{"tags":["Arquivo"],"summary":"Integrar Arquivos","description":"Este recurso foi desenvolvido para realizar a integração de arquivos do PIER Cloud junto a repositórios externos pré-configurado","operationId":"integrarArquivos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"integrarArquivoRequest","description":"integrarArquivoRequest","required":true,"schema":{"$ref":"#/definitions/IntegrarArquivoRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/arquivos/{id}":{"get":{"tags":["Arquivo"],"summary":"Consulta de arquivo no PIER Cloud","description":"Este recurso permite consultar um determinado arquivo armazenado no PIER Cloud","operationId":"consultarArquivo","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do arquivo","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArquivoDetalheResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/arquivos/{id}/auditorias":{"get":{"tags":["Arquivo"],"summary":"Lista as auditorias do arquivo","description":"Este recurso permite listar as auditorias de um determinado arquivo a partir do seu código de identificação (id)","operationId":"listarAuditoriasDeArquivo","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do arquivo","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Página solicitada (Default =0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default = 50, Max = 50)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageArquivoAUDResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/atendimento-clientes":{"get":{"tags":["CadastroGeral"],"summary":"Listar atendimentos","description":"Realiza listagem dos registros de atendimento ao cliente, independentemente do tipo","operationId":"listarAtendimentosClientes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"idTipoAtendimento","in":"query","description":"Código de identificação do tipo de atendimento","required":false,"type":"integer","format":"int64"},{"name":"idConta","in":"query","description":"Código de identificação da conta, consultar em <a href='https://pierpro.conductor.com.br/reference/conta#listarcontas'> Listar contas </a>","required":false,"type":"integer","format":"int64"},{"name":"nomeAtendente","in":"query","description":"Nome do atendente que registrou o atendimento cadastrado na base do emissor, de 1-15 caracteres (e.g. Carlos)","required":false,"type":"string"},{"name":"dataAtendimento","in":"query","description":"Data em que o atendimento foi realizado, no formato yyyy-MM-dd (e.g. 2020-10-31)","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageAtendimentoClienteResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]},"post":{"tags":["CadastroGeral"],"summary":"Cadastro um novo Atendimento do tipo Genérico para uma Conta","description":"Este método permite cadastra um novo atendimento do tipo Genérico para uma Conta","operationId":"salvarAtendimentoCliente","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"idConta","in":"query","description":"Código de Identificação da Conta a qual o Atendimento está associado","required":false,"type":"integer","format":"int64"},{"name":"conteudoAtendimento","in":"query","description":"Conteúdo do Atendimento","required":false,"type":"string"},{"name":"detalhesAtendimento","in":"query","description":"Apresenta os detalhes lançados pelo sistema ou pelo Atendente durante relacionados ao Atendimento","required":false,"type":"string"},{"name":"nomeAtendente","in":"query","description":"Apresenta o nome do Atendente que registrou o Atendimento","required":false,"type":"string"},{"name":"dataAtendimento","in":"query","description":"Apresenta a data e hora em que o Atendimento foi realizado no formato yyyy-MM-dd'T'HH:mm:ss.SSS'Z'","required":false,"type":"string"},{"name":"dataAgendamento","in":"query","description":"Quando utilizado, de acordo com o Tipo de Atendimento, apresenta a data e hora para processamento ou a data e hora para retorno do Atendimento no formato yyyy-MM-dd'T'HH:mm:ss.SSS'Z'","required":false,"type":"string"},{"name":"dataHoraInicioAtendimento","in":"query","description":"Apresenta a data e hora em que o Atendimento foi iniciado. Quando utilizado, serve para medir a performance dos Atendimentos no formato yyyy-MM-dd'T'HH:mm:ss.SSS'Z'","required":false,"type":"string"},{"name":"dataHoraFimAtendimento","in":"query","description":"Apresenta a data e hora em que o Atendimento foi finalizado. Quando utilizado, serve para medir a performance dos Atendimentos no formato yyyy-MM-dd'T'HH:mm:ss.SSS'Z'","required":false,"type":"string"},{"name":"flagFilaFraude","in":"query","description":"Flag fila fraude","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AtendimentoClienteResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/atendimento-clientes/{id}":{"get":{"tags":["CadastroGeral"],"summary":"Apresenta os dados de um determinado Atendimento","description":"Este método permite consultar os parâmetros de um determinado Atendimento a partir do seu código de identificação (idAtendimento)","operationId":"consultarAtendimentoCliente","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do atendimento cliente (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AtendimentoClienteResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/ativos/problematicos/classificacoes":{"get":{"tags":["Configuracoes"],"summary":"Listar classificação dos ativos problemáticos","description":"Lista a classificação dos ativos problemáticos","operationId":"listarClassificacaoAtivoProblematico","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageCdtClassificacaoAtivoProblematicoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]},"post":{"tags":["Configuracoes"],"summary":"Cadastrar classificação dos ativos problemáticos","description":"Cadastra a classificação dos ativos problemáticos","operationId":"cadastrarClassificacaoAtivoProblematico","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"CdtClassificacaoAtivoProblematicoPersist","description":"Objeto de cadastro de classificação de ativo problemático","required":true,"schema":{"$ref":"#/definitions/CdtClassificacaoAtivoProblematicoPersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CdtClassificacaoAtivoProblematicoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/ativos/problematicos/{id}/classificacoes":{"put":{"tags":["Configuracoes"],"summary":"Atualizar classificação dos ativos problemáticos","description":"Atualiza uma classificação dos ativos problemáticos","operationId":"alterarClassificacaoAtivoProblematico","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código identificador da classificação do ativo problemático","required":true,"type":"integer","format":"int64"},{"in":"body","name":"CdtClassificacaoAtivoProblematicoUpdate","description":"Objeto de atualização de classificação de ativo problemático","required":true,"schema":{"$ref":"#/definitions/CdtClassificacaoAtivoProblematicoUpdate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CdtClassificacaoAtivoProblematicoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]},"delete":{"tags":["Configuracoes"],"summary":"Deletar classificação dos ativos problemáticos","description":"Deleta uma classificação dos ativos problemáticos a partir do seu código de identificação","operationId":"deletarClassificacaoAtivoProblematico","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código identificador da classificação do ativo problemático","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/auditorias-oportunidades":{"get":{"tags":["Oportunidade"],"summary":"Lista as auditorias das oportunidades","description":"Este recurso permite listar as auditorias das oportunidades","operationId":"listarAuditoriasOportunidades","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"idStatusOportunidade","in":"query","description":"Código identificador do status oportunidade","required":false,"type":"integer","format":"int64"},{"name":"dataCadastro","in":"query","description":"Data do cadastro da oportunidade","required":false,"type":"string"},{"name":"dataAtualizacao","in":"query","description":"Data da atualização da oportunidade","required":false,"type":"string"},{"name":"numeroReceitaFederal","in":"query","description":"Número receita federal do cliente ao qual será ofertada a oportunidade","required":false,"type":"string"},{"name":"dataInicioVigencia","in":"query","description":"Início da vigência da oportunidade","required":false,"type":"string"},{"name":"datatFimVigencia","in":"query","description":"Fim da vigência da oportunidade","required":false,"type":"string"},{"name":"flagAtivo","in":"query","description":"Flag de verificação se a oportunidade está ativa","required":false,"type":"boolean"},{"name":"revDate","in":"query","description":"Data da auditoria","required":false,"type":"string"},{"name":"revType","in":"query","description":"Tipo da auditoria","required":false,"type":"string"},{"name":"revUser","in":"query","description":"Usuário da auditoria","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageOportunidadeAUDResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/auditorias-status-oportunidades":{"get":{"tags":["Oportunidade"],"summary":"Lista as auditorias dos status oportunidades","description":"Este recurso permite listar os status oportunidades","operationId":"listarAuditoriasStatusTiposOportunidades","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"revType","in":"query","description":"Código que representa o tipo de ação realizada no recurso de tipos oportunidades","required":false,"type":"integer","format":"int64"},{"name":"revDate","in":"query","description":"Data da ação realizada no recurso de tipos oportunidades","required":false,"type":"string"},{"name":"id","in":"query","description":"Código identificador do status oportunidade","required":false,"type":"integer","format":"int64"},{"name":"idTipoOportunidade","in":"query","description":"Código identificador do tipo oportunidade","required":false,"type":"integer","format":"int64"},{"name":"nome","in":"query","description":"Nome do status oportunidade","required":false,"type":"string"},{"name":"descricao","in":"query","description":"Descrição do status oportunidade","required":false,"type":"string"},{"name":"flagAtivo","in":"query","description":"Flag de verificação se o status oportunidade está ativo","required":false,"type":"boolean"},{"name":"revUser","in":"query","description":"Usuário da auditoria","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageStatusOportunidadeAUDResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/auditorias-tipos-oportunidades":{"get":{"tags":["Oportunidade"],"summary":"Lista as auditorias dos tipos oportunidades","description":"Este recurso permite listar os tipos oportunidades","operationId":"listarAuditoriasTiposOportunidades","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"revType","in":"query","description":"Código que representa o tipo de ação realizada no recurso de tipos oportunidades","required":false,"type":"integer","format":"int64"},{"name":"revDate","in":"query","description":"Data da ação realizada no recurso de tipos oportunidades","required":false,"type":"string"},{"name":"id","in":"query","description":"Código identificador do tipo oportunidade no qual foi realizado a ação","required":false,"type":"integer","format":"int64"},{"name":"descricao","in":"query","description":"Descrição do tipo oportunidade no qual foi realizado a ação","required":false,"type":"string"},{"name":"flagAtivo","in":"query","description":"Atributo que representa se o tipo oportunidade está ativo","required":false,"type":"boolean"},{"name":"revUser","in":"query","description":"Usuário da auditoria","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageTipoOportunidadeAUDResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/autorizar-transacao":{"post":{"tags":["Autorizacao"],"summary":"Autoriza transação financeira pelo numero do cartão","description":"Este método faz uma autorização de transação financeira com o numero do cartão","operationId":"autorizarTransacao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"autorizacaoOnUsRequest","description":"autorizacaoOnUsRequest","required":true,"schema":{"$ref":"#/definitions/AutorizacaoOnUsRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransacaoOnUsResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/bancos":{"get":{"tags":["CadastroGeral"],"summary":"Listar bancos","description":"Lista os bancos existentes na base de dados do emissor","operationId":"listarBancos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"nome","in":"query","description":"Nome do banco, de 1-100 caracteres (e.g. exemplo banco)","required":false,"type":"string"},{"name":"descricao","in":"query","description":"Descrição do banco, de 1-300 caracteres (e.g. exemplo descrição do banco)","required":false,"type":"string"},{"name":"digitoBanco","in":"query","description":"Dígito verificador do banco, somente números","required":false,"type":"string"},{"name":"ispb","in":"query","description":"Número identificador de sistema de pagamento brasileiro, somente números","required":false,"type":"string"},{"name":"cnpj","in":"query","description":"Cadastro nacional de pessoa jurídica (CNPJ) do banco, de 1-14 caracteres (e.g. 12345678911134)","required":false,"type":"string"},{"name":"flagAtivoBacen","in":"query","description":"Indica se o banco está ativo no banco central do brasil (BACEN), quando o valor é true. Caso contrário, o valor é false","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageBancoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]},"post":{"tags":["CadastroGeral"],"summary":"Recurso para salvar um banco","description":"Recurso para salvar um novo banco","operationId":"salvarBanco","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"bancoPersist","description":"bancoPersist","required":true,"schema":{"$ref":"#/definitions/BancoPersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BancoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/bancos/{id}":{"get":{"tags":["CadastroGeral"],"summary":"Consultar dados do banco","description":"Realiza consulta aos dados de um determinado banco. Para isso é necessário que você tenha a seguinte informação:<ul><li>Código de identificação do banco</li></ul>","operationId":"consultarBanco","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do banco, consultar em <a href='https://pierpro.conductor.com.br/reference/cadastrogeral#listarbancos'> Listar bancos </a>","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BancoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]},"put":{"tags":["CadastroGeral"],"summary":"Recurso para atualizar dados de um banco","description":"Este método permite que sejam alterados os dados de um banco","operationId":"alterarBanco","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"bancoUpdate","description":"bancoUpdate","required":true,"schema":{"$ref":"#/definitions/BancoUpdate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BancoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/boletos":{"get":{"tags":["Boleto"],"summary":"Listar boletos","description":"Lista os boletos armazenados na base de dados do emissor. Para consultar os boletos as seguintes informações são necessárias:<ul><li>Código de identificação da conta</li></ul> <ul><li>Código de identificação do tipo de boleto</li></ul> <ul><li>Código de identificação do evento de pagamento</li></ul>","operationId":"listarBoletos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"idConta","in":"query","description":"Código de identificação da conta(id)","required":false,"type":"integer","format":"int64"},{"name":"dataVencimento","in":"query","description":"Data de vencimento. Formato yyyy-MM-dd. Ex: 2020-10-31","required":false,"type":"string"},{"name":"valorBoleto","in":"query","description":"Valor do boleto. Númerico decimal: possuir n casas decimais. Exemplo: 1234.56","required":false,"type":"number"},{"name":"idTipoBoleto","in":"query","description":"Tipo de boleto","required":false,"type":"integer","format":"int64"},{"name":"nossoNumero","in":"query","description":"Nosso número","required":false,"type":"integer","format":"int64"},{"name":"idEventoPagamento","in":"query","description":"Código de identificação do evento de pagamento(id)","required":false,"type":"integer","format":"int32"},{"name":"statusParcela","in":"query","description":"Status da parcela('0'=inativo, '1'=ativo)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageBoletoListarResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]},"post":{"tags":["Boleto"],"summary":"Gerar boleto","description":"Permite gerar um tipo de boleto. Para gerar o boleto as seguintes informações são necessárias:<ul><li>Código de identificação da conta</li></ul> <ul><li>Tipo de boleto</li></ul><ul><li>Valor de cobrança</li></ul><ul><li>Data de vencimento da cobrança</li></ul>","operationId":"gerarBoleto","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"boletoRequest","description":"boletoRequest","required":true,"schema":{"$ref":"#/definitions/BoletoRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BoletoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/boletos/{id}":{"get":{"tags":["Boleto"],"summary":"Busca um boleto pelo seu identificador","description":"Este serviço busca um boleto pelo seu identificador","operationId":"consultarBoleto","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação da cobrança (id)","required":true,"type":"integer","format":"int64"},{"name":"zeraValorCodigoBarras","in":"query","description":"Indica se deve zerar o campo de valor do código de barras","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BoletoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/boletos/{id}/arquivo.pdf":{"get":{"tags":["Boleto"],"summary":"Gerar boleto de pagamento","description":"Gera um boleto de pagamento em formato PDF","operationId":"visualizarBoleto","consumes":["application/json"],"produces":["application/pdf","*/*"],"parameters":[{"name":"zeraValorCodigoBarras","in":"query","description":"Indica se o fator de vencimento e valor do documento devem ser zerados na linha digitável","required":false,"type":"boolean"},{"name":"id","in":"path","description":"Código de Identificação do boleto","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/boletos/{id}/enviar-email":{"post":{"tags":["Boleto"],"summary":"Envia um boleto por E-mail","description":"Este serviço envia um boleto por E-mail","operationId":"enviarBoletoPorEmail","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação da Cobranca (id)","required":true,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/BoletoEmailRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/boletos/{id}/historicos":{"get":{"tags":["Boleto"],"summary":"Listar histórico de status do boleto","description":"Lista todos os status de um determinado boleto que ja passou. Para consultar o cartão as seguintes informações são necessárias:<ul><li>Código de identificação do boleto</li></ul>","operationId":"listarHistoricoStatusBoletos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do boleto, consultar em <a href='https://pierpro.conductor.com.br/reference/boleto#listarboletos'> Listar boletos </a>","required":true,"type":"integer","format":"int64"},{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageStatusBoletoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/boletos/{id}/registrar":{"post":{"tags":["Boleto"],"summary":"Registrar uma cobrança","description":"Permite registrar uma cobrança na entidade do banco relacionada a cobrança informada. Para consultar o cartão as seguintes informações são necessárias:<ul><li>Código de identificação da cobrança</li></ul>","operationId":"registrarBoleto","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação da cobrança, consultar em <a href='https://pierpro.conductor.com.br/reference/cadastrocliente#listarcontaspessoa'> Listar cobranças </a>","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BoletoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/campanhas":{"get":{"tags":["CadastroGeral"],"summary":"Listar campanhas","description":"Lista as campanhas armazenadas na base de dados do emissor. Para listar as campanhas as seguintes informações são necessárias:<ul><li>Código de identificação do tipo da campanha</li></ul>","operationId":"listarCampanhas","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"idTipoCampanha","in":"query","description":"Código de identificação do tipo da campanha, consultar em <a href='https://pierpro.conductor.com.br/reference/cadastrogeral#listartiposcampanhas'> Listar tipos das campanhas </a>","required":false,"type":"integer","format":"int64"},{"name":"nome","in":"query","description":"Nome da campanha, de 1-100 caracteres","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageCampanhaResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]},"post":{"tags":["CadastroGeral"],"summary":"Inserir campanha","description":"Este método permite que seja cadastrado uma nova campanha","operationId":"salvarCampanha","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"campanhaPersist","description":"campanhaPersist","required":true,"schema":{"$ref":"#/definitions/CampanhaPersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CampanhaResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/campanhas/{id}":{"get":{"tags":["CadastroGeral"],"summary":"Consultar campanha","description":"Realiza consulta aos dados de uma determinada campanha existente na base do emissor. Para isso é necessário que você tenha a seguinte informação:<ul><li>Código de identificação da campanha</li></ul>","operationId":"consultarCampanha","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação da campanha, consultar em <a href='https://pierpro.conductor.com.br/reference/cadastrogeral#listarcampanhas'> Listar campanhas </a>","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CampanhaResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]},"put":{"tags":["CadastroGeral"],"summary":"Alterar campanha","description":"Este método permite que sejam alterados os dados de uma campanha","operationId":"alterarCampanha","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação da campanha (id)","required":true,"type":"integer","format":"int64"},{"in":"body","name":"update","description":"update","required":true,"schema":{"$ref":"#/definitions/CampanhaUpdate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CampanhaResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cancelar-transacao":{"post":{"tags":["Autorizacao"],"summary":"Cancela transação financeira","description":"Este método permite que seja cancelada uma transação","operationId":"cancelarTransacao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"cancelamentoRequest","description":"cancelamentoRequest","required":true,"schema":{"$ref":"#/definitions/CancelamentoTransacaoOnUsRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransacaoOnUsResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes":{"get":{"tags":["Cartao"],"summary":"Listar cartões","description":"Retorna os cartões existentes na base de dados do emissor","operationId":"listarCartoes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"idStatusCartao","in":"query","description":"Código de identificação do status cartão, consultar em <a href='https://pierpro.conductor.com.br/reference/cartao#listarcartoes'> Consultar status cartões </a>","required":false,"type":"integer","format":"int64"},{"name":"idEstagioCartao","in":"query","description":"Código de identificação do estágio cartão, consultar em <a href='https://pierpro.conductor.com.br/reference/cartao#listarcartoes'> Consultar estágio cartões </a>","required":false,"type":"integer","format":"int64"},{"name":"idConta","in":"query","description":"Código de identificação da conta, consultar em <a href='https://pierpro.conductor.com.br/reference/conta#listarcontas'> Listar contas </a>","required":false,"type":"integer","format":"int64"},{"name":"idPessoa","in":"query","description":"Código de identificação da pessoa, consultar em <a href='https://pierpro.conductor.com.br/reference/cadastrocliente#listarpessoas'> Listar pessoas</a>","required":false,"type":"integer","format":"int64"},{"name":"idProduto","in":"query","description":"Código de identificação do produto, consultar em <a href='https://pierpro.conductor.com.br/reference/cadastrogeral#listarprodutos'> Listar produtos </a>","required":false,"type":"integer","format":"int64"},{"name":"tipoPortador","in":"query","description":"Tipo de portador do cartão (T=Titular, A=Adicional)","required":false,"type":"string"},{"name":"numeroCartao","in":"query","description":"Número do cartão, somente números (e.g. 2222333344445555)","required":false,"type":"string"},{"name":"nomeImpresso","in":"query","description":"Nome da pessoa que será gravado no cartão, de 1-300 caracteres (e.g. JOSE L SILVA)","required":false,"type":"string"},{"name":"dataGeracao","in":"query","description":"Data em que o cartão foi gerado, no formato yyyy-MM-dd (e.g. 1980-12-01)","required":false,"type":"string"},{"name":"dataStatusCartao","in":"query","description":"Data em que o idStatusCartao atual do cartão foi aplicado, no formato yyyy-MM-dd (e.g. 1980-12-01)","required":false,"type":"string"},{"name":"dataEstagioCartao","in":"query","description":"Data em que o idEstagioCartao atual do cartão foi aplicado, no formato yyyy-MM-dd (e.g. 1980-12-01)","required":false,"type":"string"},{"name":"dataValidade","in":"query","description":"Data de expiração do cartão, no formato yyyy-MM (e.g. 2020-12)","required":false,"type":"string"},{"name":"dataImpressao","in":"query","description":"Data em que o cartão foi impresso, no formato yyyy-MM-dd (e.g. 1980-12-01)","required":false,"type":"string"},{"name":"arquivoImpressao","in":"query","description":"Nome do arquivo onde o cartão foi incluído para impressão","required":false,"type":"string"},{"name":"flagImpressaoOrigemComercial","in":"query","description":"Indica que o cartão foi impresso na origem comercial, quando o valor for 1. Caso contrário, o valor é 0","required":false,"type":"integer","format":"int32"},{"name":"flagProvisorio","in":"query","description":"Indica que o cartão é provisório, quando o valor for 1. Caso contrário, o valor é 0","required":false,"type":"integer","format":"int32"},{"name":"codigoDesbloqueio","in":"query","description":"Código específico para desbloqueio do cartão, somente números (e.g. 2807)","required":false,"type":"string"},{"name":"sequencialCartao","in":"query","description":"Número sequencial do cartão, somente números","required":false,"type":"integer","format":"int32"},{"name":"identificadorExterno","in":"query","description":"Identificador externo do cartão, somente números","required":false,"type":"integer","format":"int64"},{"name":"flagCartaoMifare","in":"query","description":"Indica que o cartão contém a tecnologia mifare, quando for 1. Caso contrário, o valor é 0","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/controles-configuracoes":{"get":{"tags":["ControleCartao"],"summary":"Lista os cartões configurados pelo remetente","description":"Esse método permite listar os cartões configurados para bloqueios de transação na base do remetente","operationId":"listarConfiguracaoControleCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"idCartao","in":"query","description":"Código Identificador do cartao na base (id)","required":false,"type":"integer","format":"int64"},{"name":"permiteEcommerce","in":"query","description":"Flag para autorização de transações ecommerce","required":false,"type":"boolean"},{"name":"permiteSaque","in":"query","description":"Flag para autorização de transações de saque","required":false,"type":"boolean"},{"name":"permiteWallet","in":"query","description":"Flag para autorização de transações por meio wallet","required":false,"type":"boolean"},{"name":"permiteControleMCC","in":"query","description":"Indica se o cartão está ativo para controle por grupos de MCCs","required":false,"type":"boolean"},{"name":"permiteCompraInternacional","in":"query","description":"Indica se o cartão está habilitado/desabilitado para transações internacionais","required":false,"type":"boolean"},{"name":"permiteTarjaMagnetica","in":"query","description":"Indica se o cartão está habilitado/desabilitado para transações por tarja magnetica","required":false,"type":"boolean"},{"name":"permiteContactless","in":"query","description":"Indica se o cartão está habilitado/desabilitado para transações via contactless","required":false,"type":"boolean"},{"name":"limiteContactlessSemSenha","in":"query","description":"Indica o limite usado em transações com a função contactless sem senha","required":false,"type":"number"},{"name":"funcaoAtiva","in":"query","description":"Indica o tipo de função ativa","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageConfiguracaoControleCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/controles-grupomcc":{"get":{"tags":["ControleCartao"],"summary":"Lista os cartões vinculados aos estabelecimentos.","description":"Esse método permite listar os cartões registrados respectivamente para grupos MCC.","operationId":"listarControleGrupoMCCPorCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"idCartao","in":"query","description":"Código Identificador do cartao na base (id)","required":false,"type":"integer","format":"int64"},{"name":"idGrupoMCC","in":"query","description":"Código Identificador do grupo mcc na base.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageControleCartaoGrupoMCCResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/controles-limites":{"get":{"tags":["ControleCartao"],"summary":"Lista o controle de limites dos cartões","description":"Este recurso permite que sejam listados todos os controles de limites por cartão, o controle de limites tem por finalidade gerenciar a utilização do limite diponível global da conta, limitando o gasto diário, semanal, mensal ou por ciclo de um cartão","operationId":"listarControlesDeLimites","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"idCartao","in":"query","description":"Id do cartão","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageControleLimiteCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/gerar-cartoes-multiapp":{"post":{"tags":["Cartao","MultiApp"],"summary":"Cadastrar cartões multiApp","description":"Permite o cadastro de cartões multiApp. Para cadastrar o cartão as seguintes informações são necessárias: <ul><li> Código de identificação da conta </li><li> Código de identificação da pessoa </li><li> Número da matricula do portador </li><li> Código de identificação da tecnologia mifare </li><li> Código de identificação da imagem do cartão </li></ul>","operationId":"criarCartoesMultiApp","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"cartaoMultiAppPersist","description":"cartaoMultiAppPersist","required":true,"schema":{"$ref":"#/definitions/CartaoMultiAppPersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/VinculoCartoesResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/lotes-cartoes-pre-pagos":{"get":{"tags":["Cartao"],"summary":"Listar lotes de cartões pré-pago","description":"Lista os cartões pré-pagos existentes na base do emissor. Para listar os cartões pré-pagos as seguintes informações são necessárias: <ul><li> Código de identificação da origem comercial </li><li> Código de identificação do produto</li><li> Código de identificação do tipo do cartão </li><li> Código de identificação da imagem </li><li> Código de identificação do endereço </li></ul>","operationId":"listarLotesCartoesPrePagos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Ordenação da lista de dados em ordem crescente e decrescente (e.g. ‘nome ASC’, ‘nome DESC’, ‘ASC’)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Número da página solicitada. O valor padrão é 0 para primeira página","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Quantidade de dados que deveriam ser retornados com valor máximo 50. O valor padrão é 50","required":false,"type":"integer","format":"int32"},{"name":"idOrigemComercial","in":"query","description":"Código de identificação da origem comercial, consultar em <a href='https://pierpro.conductor.com.br/reference/estabelecimento#listargruposorigenscomerciais'> Listar origens comercial </a>","required":false,"type":"integer","format":"int64"},{"name":"idProduto","in":"query","description":"Código de identificação do produto, consultar em <a href='https://pierpro.conductor.com.br/reference/cadastrogeral#listarprodutos'> Listar produtos </a>","required":false,"type":"integer","format":"int64"},{"name":"idTipoCartao","in":"query","description":"Código de identificação do tipo do cartão","required":false,"type":"integer","format":"int64"},{"name":"idImagem","in":"query","description":"Código de identificação da imagem ","required":false,"type":"integer","format":"int64"},{"name":"idEndereco","in":"query","description":"Código de identificação do endereço, consultar em <a href='https://pierpro.conductor.com.br/reference/cadastrocliente#listarenderecos'> Listar endereços </a>","required":false,"type":"integer","format":"int64"},{"name":"quantidadeCartoes","in":"query","description":"Número de cartões existentes no lote","required":false,"type":"integer","format":"int32"},{"name":"dataCadastro","in":"query","description":"Data de cadastro do lote de cartões não nominais no formato yyyy-MM-dd (e.g. 2020-10-31)","required":false,"type":"string"},{"name":"usuarioCadastro","in":"query","description":"Nome do usuário que criou o lote, de 1-150 caracteres (e.g. João da Silva)","required":false,"type":"string"},{"name":"statusProcessamento","in":"query","description":"Status de processamento do lote","required":false,"type":"integer","format":"int32"},{"name":"identificadorExterno","in":"query","description":"Número de identificação externo (utilizado pelo emissor)","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageLoteCartoesPrePagosResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]},"post":{"tags":["Cartao"],"summary":"Permite gerar um novo Lote de Cartões Pré-Pago","description":"Esta operação tem como objetivo permitir que os Emissores gerem uma determinada quantidade de Cartões Pré-Pagos, de forma não nominal, os quais poderão ser comercializados e posteriormente vinculados a um cliente que o adquirir. Para isso, além de definir quantos cartões deverão ser gerados, será possível definir qual a Origem Comercial, o Produto, o Tipo do Cartão, a Imagem e o Endereço para entrega dos Cartões presentes no lote gerado. Por padrão, todos os cartões serão associados a um idPessoa fictício e receberá um idConta único para cada um deles. Feito isso, os Cartões gerados por esta operação seguirão os mesmos processos de impressão via gráfica previamente definidos entre o Emissor e a Conductor","operationId":"gerarLoteCartoesPrePagos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"idOrigemComercial","in":"query","description":"Código de Identificação da Origem Comercial (id)","required":false,"type":"integer","format":"int64"},{"name":"idProduto","in":"query","description":"Código de Identificação do Produto (id)","required":false,"type":"integer","format":"int64"},{"name":"idTipoCartao","in":"query","description":"Código de Identificação do Tipo do Cartão (id)","required":false,"type":"integer","format":"int64"},{"name":"idImagem","in":"query","description":"Código de Identificação da Imagem (id)","required":false,"type":"integer","format":"int64"},{"name":"idEndereco","in":"query","description":"Código de Identificação do Endereço (id)","required":false,"type":"integer","format":"int64"},{"name":"quantidadeCartoes","in":"query","description":"Número de cartões existentes no Lote","required":false,"type":"integer","format":"int32"},{"name":"identificadorExterno","in":"query","description":"Número de identificação externo (utilizado pelo emissor)","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoteCartoesPrePagosResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/lotes-cartoes-pre-pagos/{id}":{"get":{"tags":["Cartao"],"summary":"Permite consultar um determinado Lote de Cartões Pré-Pago","description":"Este método permite consultar os cartões pré-pagos existentes na base do emissor através do id do lote","operationId":"consultarLoteCartoesPrePagos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do lote de cartões (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoteCartoesPrePagosResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/validar-dados-impressos-bandeirados":{"get":{"tags":["Cartao"],"summary":"Permite validar os dados impressos em um cartão bandeirado","description":"Esta operação tem como objetivo permitir que os Emissores validem a autenticidade de um determinado Cartão a partir do envio dos dados sensíveis impressos nele. A utilização desde método tem diversas aplicações, sendo a principal delas a de Identificação Positiva do Cartão para a realização de transações e-commerce ou por meio de Centrais de Atendimento Eletrônico (URA), dentre outras","operationId":"validarDadosCartaoBandeirado","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"numero_cartao","in":"query","description":"Número do cartão a ser validado","required":true,"type":"string"},{"name":"nome_portador","in":"query","description":"Nome do portador do cartão","required":true,"type":"string"},{"name":"data_validade","in":"query","description":"Data de validade do cartão no formato yyyy-MM","required":true,"type":"string"},{"name":"codigo_seguranca","in":"query","description":"Código de segurança do cartão com três números","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ValidaCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/validar-dados-impressos-nao-bandeirados":{"get":{"tags":["Cartao"],"summary":"Permite validar os dados impressos de um cartao não bandeirado","description":"Esta operação tem como objetivo permitir que os Emissores validem a autenticidade de um determinado Cartão a partir do envio dos dados sensíveis impressos nele. A utilização desde método tem diversas aplicações, sendo a principal delas a de Identificação Positiva do Cartão para a realização de transações e-commerce ou por meio de Centrais de Atendimento Eletrônico (URA), dentre outras","operationId":"validarDadosCartaoPrivate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"numero_cartao","in":"query","description":"Número do cartão a ser validado","required":true,"type":"string"},{"name":"nome_portador","in":"query","description":"Nome do portador do cartão","required":true,"type":"string"},{"name":"data_validade","in":"query","description":"Data de validade do cartão no formato yyyy-MM","required":true,"type":"string"},{"name":"codigo_seguranca","in":"query","description":"Código de segurança do cartão com três números","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ValidaCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/validar-de55-mastercard":{"get":{"tags":["Cartao"],"summary":"Permite validar um Cartão com bandeira Mastercard a partir do de55","description":"Esta operação tem como objetivo permitir que os Emissores validem o DE55 gerado a partir da leitura de um chip EMV de um Cartão com bandeira Mastercard a fim de verificar a sua autenticidade. A utilização desde método tem diversas aplicações, sendo a principal delas a de Identificação Positiva do Cartão antes de permitir que o portador realize transações diversas, como as de compra e saque na modalidade débito em conta corrente, dentre outras","operationId":"validarDE55Mastercard","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"numero_cartao","in":"query","description":"Número do cartão a ser validado","required":true,"type":"string"},{"name":"criptograma","in":"query","description":"Criptograma do cartão no formato de55","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ValidaCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/validar-tarja":{"get":{"tags":["Cartao"],"summary":"Permite validar um Cartão Bandeirado a partir da Tarja","description":"Esta operação tem como objetivo permitir que os Emissores validem a autenticidade de um determinado Cartão a partir da leitura da tarja magnética do mesmo. A utilização desde método tem diversas aplicações, sendo a principal delas a de Identificação Positiva do Cartão antes de permitir que o portador realize transações diversas, como as de compra e saque na modalidade débito em conta corrente, dentre outras","operationId":"validarTarja","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"numero_cartao","in":"query","description":"Número do cartão a ser validado","required":true,"type":"string"},{"name":"trilha1","in":"query","description":"Trilha 1 do cartão a ser validado","required":true,"type":"string"},{"name":"trilha2","in":"query","description":"Trilha 2 do cartão a ser validado","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ValidaCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/{id}":{"get":{"tags":["Cartao"],"summary":"Consultar os dados de um cartão","description":"Retorna as informações básicas de um cartão a partir do seu código de identificação na base de dados do emissor","operationId":"consultarCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do cartão, consultar em api/cartoes GET","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartaoDetalheResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/{id}/alterar-estagio":{"post":{"tags":["Cartao"],"summary":"Alterar estágio do cartão","description":"Cria uma alteração do estágio do cartão para um outro informado na requisição. Para alterar o estágio do cartão as seguintes informações são necessárias:<ul><li>Código de identificação do cartão</li></ul> <ul><li>Código de identificação do estágio do cartão</li></ul>","operationId":"alterarEstagio","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do cartão, consultar em <a href='https://pierpro.conductor.com.br/reference/cartao#listarcartoes'> Listar cartões </a>","required":true,"type":"integer","format":"int64"},{"in":"body","name":"update","description":"Código de identificação do cartão, consultar em <a href='https://pierpro.conductor.com.br/reference/cartao#alterarestagio'> Listar estágio dos cartões </a>","required":true,"schema":{"$ref":"#/definitions/EstagioCartaoUpdate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartaoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/{id}/alterar-status-impressao":{"put":{"tags":["Cartao"],"summary":"Alterar status de impressão do cartão","description":"Realiza alteração do status de impressão do cartão. Cartões provisórios ou que já tenham sido incluídos em um arquivo para impressão via gráfica terão esta requisição negada. Para isso é necessário que você tenha as seguintes informações:<ul><li>Código de identificação do cartão</li><li>Código de identificação do status impressão</li></ul>","operationId":"alterarStatusImpressao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do cartão, consultar em <a href='https://pierpro.conductor.com.br/reference/cartao#listarcartoes'> Listar cartões </a>","required":true,"type":"integer","format":"int64"},{"name":"id_status_impressao","in":"query","description":"Código de identificação do status de impressão, consultar em <a href='https://pierpro.conductor.com.br/reference/statusparametro#listarstatusimpressaocartao'> Listar status impressão </a>","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/HistoricoImpressaoCartaoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/{id}/atribuir-titular":{"put":{"tags":["Cartao"],"summary":"Atribuir titular ao cartão","description":"Realiza atribuição da pessoa, como titular, ao cartão. Para isso é necessário que você tenha as seguintes informações:<ul><li>Código de identificação do cartão</li><li>Código de identificação da pessoa</li></ul>","operationId":"atribuirPessoa","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do cartão, consultar em <a href='https://pierpro.conductor.com.br/reference/cartao#listarcartoes'> Listar cartões </a>","required":true,"type":"integer","format":"int64"},{"name":"id_pessoa","in":"query","description":"Código de identificação da pessoa, consultar em <a href='https://pierpro.conductor.com.br/reference/cadastrocliente#listarpessoas'> Listar pessoas </a>","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartaoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/{id}/autorizar-transacao":{"post":{"tags":["Autorizacao"],"summary":"Autoriza transação financeira pelo idCartao","description":"Este método faz uma autorização de transação financeira com o idCartao","operationId":"autorizarTransacaoPorCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id Cartao","required":true,"type":"integer","format":"int64"},{"in":"body","name":"transacaoOnUsPorIdCartaoRequest","description":"transacaoOnUsPorIdCartaoRequest","required":true,"schema":{"$ref":"#/definitions/TransacaoOnUsPorIdCartaoRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransacaoOnUsResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/{id}/bandeiras/reais":{"get":{"tags":["Cartao"],"summary":"Consultar Detalhes do Cartão","description":"Este método permite consultar os dados necessarios de um cartão para executar serviços de autorização.","operationId":"bandeiraDadosReais","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do Cartão (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartaoBandeiraResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":[]},{"client_id":[]}]}},"/api/cartoes/{id}/bloquear":{"post":{"tags":["Cartao"],"summary":"Realizar bloqueio de um cartão","description":"Realiza o bloqueio (temporário) ou o cancelamento (definitivo) de um determinado cartão a partir do seu código de identificação. Para realizar o bloqueio, é necessário as seguintes informações:<ul><li>Código de identificação do cartão</li></ul><ul> <li>Código de identificação do novo status do cartão</li></ul> <ul><li>Texto informando sobre o bloqueio</li></ul>","operationId":"bloquearCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do cartão, consultar em <a href='https://pierpro.conductor.com.br/reference/cartao#listarcartoes'> Consultar cartão</a>","required":true,"type":"integer","format":"int64"},{"name":"id_status","in":"query","description":"Código de identificação do novo status cartão, consultar em <a href='https://pierpro.conductor.com.br/reference/cartao#listarstatuscartoes'> Consultar status cartão</a>","required":true,"type":"integer","format":"int64"},{"name":"observacao","in":"query","description":"Texto informando uma observação sobre o bloqueio, de 1-150 caracteres","required":true,"type":"string"},{"name":"usuario","in":"query","description":"Usuário que re
[...]
