{"swagger":"2.0","info":{"description":"API para integração com Aplicações de empresas Emissoras de Cartões de Crédito","version":"2.194.0","title":"PIER Cartao de Credito v2","termsOfService":"http://pierlabs.io/terms/","contact":{"name":"PIER Labs","url":"http://pierlabs.io","email":"pierlabs@conductor.com.br"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"host":"sandbox.conductor.com.br","basePath":"/v2","tags":[{"name":"ServicoConta","description":"Operações de adesão de pacote de tarifas"},{"name":"Fatura","description":"Operações de Faturas"},{"name":"Lote","description":"Lote Cartao Resource"},{"name":"PermissaoPais","description":"Operações com Conta"},{"name":"CadastroCliente","description":"Operações relacionadas a adicionais de Contas MultiApp"},{"name":"TransferenciaBancaria","description":"Operações com transferência bancária"},{"name":"RiscoFraude","description":"Operações com a riscoFraude"},{"name":"Relatórios","description":"Recurso para geraçãoo de relatórios"},{"name":"LimiteDisponibilidade","description":"Operações com Limites Disponibilidades"},{"name":"OperacoesBancarias","description":"Opções de operações bancárias"},{"name":"Log","description":"Ações com logs de usuário"},{"name":"Antecipacao","description":"Operações com Antecipações"},{"name":"Pagamento","description":"Operações de Pagamento"},{"name":"ControleCartao","description":"Operações de controle e permissão por cartão"},{"name":"Contestação","description":"Status contestação"},{"name":"Faturamento","description":"Operações com Faturamento"},{"name":"Fraude","description":"Motivo Fraude"},{"name":"AplicacaoMobile","description":"Operações de Dispositivos"},{"name":"Oportunidade","description":"Operações com Oportunidades"},{"name":"FAQ","description":"Operações com FAQs"},{"name":"Personalizações de parcelamento","description":"Operações de personalizações de parcelamento"},{"name":"Acordo","description":"Operações de Pagamento"},{"name":"ChaveCriptografia","description":"Recursos para descriptografar/criptografar informações"},{"name":"Autorizacao","description":"Operações com Transações On Us de Autorização"},{"name":"Taxa","description":"Recurso que disponibiliza as taxas de refinanciamento"},{"name":"InscricaoAPN","description":"Ações com inscrições de notificação APN do emissor"},{"name":"Configuracoes","description":"Operações relacionadas a configurações"},{"name":"TiposFuncões","description":"Operações com tipos de Funções ativas"},{"name":"DadosBancariosConta","description":"Dados Bancarios Conta Resource"},{"name":"Usuario","description":"Representa o Recurso  para Controle de Segurança de recurso"},{"name":"SMS","description":"Recurso de SMS"},{"name":"Estabelecimento","description":"Operações com estabelecimento"},{"name":"GrupoChargeback","description":"Operações de grupos de chargeback"},{"name":"Chave","description":"Tipo chave resource"},{"name":"EnderecoNacional","description":"Operações de Consulta ao Diretório Nacional de Endereços (DNE)"},{"name":"Notificacao","description":"Operações de Emails"},{"name":"UsuarioToken","description":"Ações com os tokens de usuários"},{"name":"Arquivo","description":"Operações com auditorias de arquivos estáticos"},{"name":"Webhook","description":"Webhook Resource"},{"name":"Limite","description":"Operações com  limites"},{"name":"PlataformaMobile","description":"Operações de Dispositivos"},{"name":"DebitoRecorrente","description":"Operações de Conta Debito Recorrente"},{"name":"CadastroGeral","description":"Operações Gerais"},{"name":"Boleto","description":"Operações com boleto"},{"name":"Cartao","description":"Operações com cartão"},{"name":"AjusteFinanceiro","description":"Operação de ajuste financeiro levando em consideração a conta"},{"name":"Compra","description":"Operações referentes a compras"},{"name":"Dispositivo","description":"Operações de Dispositivos"},{"name":"Documento","description":"Operações com documentos"},{"name":"StatusParametro","description":"Status e Parâmetros"},{"name":"Parametro","description":"Parâmetros dos produtos e do emissor"},{"name":"Conta","description":"Operações para Aderir Pagamento "},{"name":"Proposta","description":"Documento Proposta Resource"},{"name":"Credor","description":"Operações com credores"},{"name":"MultiApp","description":"Operações com MultiApp"},{"name":"PessoaJuridica","description":"Representa o recurso de Pessoa Jurídica"},{"name":"","description":"Operações de financiamentos"}],"schemes":["https"],"paths":{"/api/acordos":{"get":{"tags":["Acordo"],"summary":"Lista os acordos existentes na base","description":"Este método permite que sejam listados todos os acordos existentes na base do emissor","operationId":"listarAcordos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"idConta","in":"query","description":"Código Identificador da conta na base (id)","required":false,"type":"integer","format":"int64"},{"name":"statusAcordo","in":"query","description":"Status do acordo na base","required":false,"type":"integer","format":"int64"},{"name":"dataAcordo","in":"query","description":"Data do acordo","required":false,"type":"string"},{"name":"quantidadeParcelas","in":"query","description":"Quantidade de parcelas","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageAcordoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"post":{"tags":["Acordo"],"summary":"Insere um novo acordo.","description":"Recurso para a criação de um novo acordo de cobrança.","operationId":"incluirAcordo","consumes":["application/json;charset=UTF-8"],"produces":["application/json"],"parameters":[{"in":"body","name":"acordoPersist","description":"acordoPersist","required":true,"schema":{"$ref":"#/definitions/AcordoPersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AcordoDetalheResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/acordos/planos-parcelamentos":{"post":{"tags":["Acordo"],"summary":"Realiza simulações de planos de parcelamento para acordos","description":"Este recurso que permite realizar a simulação de planos de parcelamentos para abertura de acordos","operationId":"simularPlanosParcelamentosAcordos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PlanoParcelamentoAcordoRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PlanoParcelamentoAcordoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/acordos/{id}":{"get":{"tags":["Acordo"],"summary":"Consulta os dados de um determinado acordo","description":"Este método permite consultar dados de um determinado acordo a partir de seu codigo de identificação (id)","operationId":"consultarAcordo","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do acordo (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AcordoDetalheResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/acordos/{id}/arquivo.pdf":{"post":{"tags":["Acordo"],"summary":"Gerar arquivo do termo de acordo","description":"Este recurso permite a geração e download do termo de um acordo ativo a partir de seu identificador.","operationId":"gerarTermoAcordo","consumes":["application/json"],"produces":["application/pdf","*/*"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do acordo (id).","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string","format":"byte"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/acordos/{id}/boletos":{"post":{"tags":["Acordo"],"summary":"Realiza a geração de um boleto de entrada para o código de identificação do acordo informado","description":"Realiza a geração de um boleto de entrada para o código de identificação do acordo informado.","operationId":"gerarBoletoEntrada","consumes":["application/json;charset=UTF-8"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"acordoBoletoPersist","description":"acordoBoletoPersist","required":false,"schema":{"$ref":"#/definitions/AcordoBoletoPersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BoletoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/acordos/{id}/boletos.pdf":{"get":{"tags":["Acordo"],"summary":"Visualiza os boletos das parcelas do acordo","description":"Este método permite visualizar, em formato PDF, os boletos das parcelas do acordo informado","operationId":"visualizarBoletosAcordo","consumes":["application/json"],"produces":["application/pdf","*/*"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do acordo (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/acordos/{id}/enviar-termo":{"post":{"tags":["Acordo"],"summary":"Enviar termo do acordo por e-mail.","description":"Este recurso permite o envio por e-mail do termo de um acordo ativo a partir de seu identificador. Caso o e-mail para envio não seja informado, o termo será enviado para o e-mail cadastrado na conta","operationId":"enviarTermoPorEmail","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do acordo (id).","required":true,"type":"integer","format":"int64"},{"in":"body","name":"emailRequest","description":"emailRequest","required":true,"schema":{"$ref":"#/definitions/AcordoEmailRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/acordos/{id}/quebrar":{"post":{"tags":["Acordo"],"summary":"Quebra o acordo pelo id informado","description":"Este método permite que um acordo seja quebrado a partir de um id de acordo informado","operationId":"quebrarAcordo","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do acordo.","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AcordoQuebraResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/adesoes-pagamentos-sabados":{"get":{"tags":["Conta"],"summary":"Consulta adesão de pagamento no sábado","description":"Este recurso permite consultar uma adesão de pagamento no sábado","operationId":"consultarUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"query","description":"Id da conta","required":true,"type":"integer","format":"int64"},{"name":"dataVencimento","in":"query","description":"Data de vencimento da adesão","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdesaoPagamentoSabadoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"post":{"tags":["Conta"],"summary":"Cadastro adesão de pagamento no sábado","description":"Este recurso permite cadastrar uma adesão de pagamento no sábado","operationId":"cadastrarUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"query","description":"Id da conta","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AdesaoPagamentoSabadoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/adquirentes-estabelecimento":{"get":{"tags":["Estabelecimento"],"summary":"Lista os Vínculos dos estabelecimento com os adquirentes","description":"Este método permite que sejam listados os Vínculos dos estabelecimento com os adquirentes","operationId":"listarVinculosEstabelecimentoAdquirente","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"idAdquirente","in":"query","description":"Código de Identificação do adquirente (id)","required":false,"type":"integer","format":"int64"},{"name":"idEstabelecimento","in":"query","description":"Código de Identificação do estabelecimento","required":false,"type":"integer","format":"int64"},{"name":"codigoEstabelecimentoAdquirente","in":"query","description":"Código do vínculo entre o estabelecimento e o adquirente","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageVinculoEstabelecimentoAdquirenteResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"post":{"tags":["Estabelecimento"],"summary":"Realiza o cadastro de um novo VinculoEstabelecimentoAdquirente","description":"Este método permite que seja cadastrado um novo VinculoEstabelecimentoAdquirente","operationId":"salvarVinculoEstabelecimentoAdquirente","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"vinculoEstabelecimentoAdquirentePersist","description":"vinculoEstabelecimentoAdquirentePersist","required":true,"schema":{"$ref":"#/definitions/VinculoEstabelecimentoAdquirentePersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/VinculoEstabelecimentoAdquirenteResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/adquirentes-estabelecimento/{id}":{"get":{"tags":["Estabelecimento"],"summary":"Apresenta os dados de um determinado Vínculo","description":"Este método permite consultar um determinado Vínculo a partir do seu código de identificação (id)","operationId":"consultarVinculoEstabelecimentoAdquirente","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do Vínculo (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/VinculoEstabelecimentoAdquirenteResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/adquirentes-estabelecimento/{id}/desabilitar":{"post":{"tags":["Estabelecimento"],"summary":"Desabilitar um Vínculo","description":"Este método realiza a desativação de um vínculo","operationId":"desabilitarVinculoEstabelecimentoAdquirente","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do Vínculo (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/adquirentes-estabelecimento/{id}/habilitar":{"post":{"tags":["Estabelecimento"],"summary":"Habilitar um Vínculo","description":"Este método realiza a ativação de um vínculo","operationId":"habilitarVinculoEstabelecimentoAdquirente","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do Vínculo (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/ajustes-financeiros":{"get":{"tags":["AjusteFinanceiro"],"summary":"Lista ajustes existentes na base de dados do Emissor","description":"Este recurso permite listar ajustes existentes na base de dados do Emissor","operationId":"listarAjustesFinanceiros","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"idTipoAjuste","in":"query","description":"Código identificador do tipo de ajuste","required":false,"type":"integer","format":"int64"},{"name":"dataAjuste","in":"query","description":"Data do ajuste no formato yyyy-MM-dd'T'HH:mm:ss.SSSZ","required":false,"type":"string"},{"name":"valorAjuste","in":"query","description":"Valor do ajuste","required":false,"type":"number"},{"name":"identificadorExterno","in":"query","description":"Codigo Hexadecimal","required":false,"type":"string"},{"name":"idConta","in":"query","description":"Código identificador da conta","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageAjusteResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"post":{"tags":["AjusteFinanceiro"],"summary":"Lança um ajuste para a conta informada","description":"Este recurso insere um ajuste para a conta do id informado","operationId":"salvarAjusteFinanceiro","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"login","in":"header","description":"login","required":false,"type":"string"},{"name":"idTipoAjuste","in":"query","description":"Código identificador do tipo de ajuste","required":true,"type":"integer","format":"int64"},{"name":"dataAjuste","in":"query","description":"Data do ajuste no formato yyyy-MM-dd'T'HH:mm:ss.SSSZ","required":true,"type":"string"},{"name":"valorAjuste","in":"query","description":"Valor do ajuste","required":true,"type":"number"},{"name":"identificadorExterno","in":"query","description":"Identificador Externo","required":false,"type":"string"},{"name":"idTransacaoOriginal","in":"query","description":"Identificador da transação original (estorno)","required":false,"type":"integer","format":"int64"},{"name":"idEstabelecimento","in":"query","description":"Identificador do estabelecimento quando o pagamento for efetuado em loja","required":false,"type":"integer","format":"int64"},{"name":"flagAtendimento","in":"query","description":"Flag para lançar o atendimento","required":false,"type":"boolean"},{"name":"mensagemAtendimento","in":"query","description":"Mensagem enviada no atendimento","required":false,"type":"string"},{"name":"descricaoEstabelecimentoExterno","in":"query","description":"Descrição externa do estabelecimento","required":false,"type":"string"},{"name":"idConta","in":"query","description":"Código identificador da conta","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AjusteFinanceiroResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/ajustes-financeiros/{id}":{"get":{"tags":["AjusteFinanceiro"],"summary":"Apresenta dados de um determinado ajuste financeiro","description":"Este método permite consultar dados de um determinado ajuste a partir de seu codigo de identificação (id)","operationId":"consultarAjusteFinanceiro","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do ajuste (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AjusteFinanceiroResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/anuidades":{"get":{"tags":["ServicoConta"],"summary":"Listar Anuidades","description":"Lista as anuidades","operationId":"listarAnuidadesUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageAnuidadeResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/api/grupos-origens-comerciais":{"get":{"tags":["Estabelecimento"],"summary":"Listar grupos de origens comerciais","description":"Lista os grupos de origens comerciais","operationId":"listarGruposOrigensComerciais","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"nome","in":"query","description":"Nome do grupo de origem comercial","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageGrupoOrigemComercialResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}],"deprecated":true}},"/api/aplicacoes-mobile":{"get":{"tags":["AplicacaoMobile"],"summary":"Lista os aplicacoes mobile cadastradas","description":"Este método permite que sejam listadas as aplicacoes mobile existentes na base do PIER","operationId":"listarAplicacoesMobile","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"id","in":"query","description":"Identificador da Aplicacao Mobile","required":false,"type":"string"},{"name":"idPlataformaMobile","in":"query","description":"Identificador da Plataforma Mobile","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageAplicacaoMobileResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"post":{"tags":["AplicacaoMobile"],"summary":"Cadastra Aplicacao Mobile","description":"Esse recurso permite cadastrar aplicacoes mobile","operationId":"salvarAplicacaoMobile","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"persist","description":"persist","required":true,"schema":{"$ref":"#/definitions/AplicacaoMobilePersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AplicacaoMobileResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/aplicacoes-mobile/{id}":{"put":{"tags":["AplicacaoMobile"],"summary":"Atualiza Aplicacao Mobile","description":"Esse recurso permite atualizar aplicacao mobile","operationId":"alterarAplicacoesMobile","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação da Aplicacao (id)","required":true,"type":"integer","format":"int64"},{"in":"body","name":"update","description":"update","required":true,"schema":{"$ref":"#/definitions/AplicacaoMobileUpdate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AplicacaoMobileResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/arquivos":{"get":{"tags":["Arquivo"],"summary":"Listar arquivos do Pier Cloud","description":"Este recurso permite a listagem de todos os arquivos disponíveis no Pier Cloud","operationId":"listarArquivos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"nome","in":"query","description":"Nome do arquivo","required":false,"type":"string"},{"name":"idTipoArquivo","in":"query","description":"Tipo do arquivo","required":false,"type":"integer","format":"int64"},{"name":"idStatusArquivo","in":"query","description":"Identificador do status do arquivo","required":false,"type":"integer","format":"int64"},{"name":"extensao","in":"query","description":"Extensão do arquivo","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageArquivoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"post":{"tags":["Arquivo"],"summary":"Permite armazenar arquivos no PIER Cloud","description":"Este recurso permite o armazenamento de arquivos no PIER Cloud","operationId":"salvarArquivo","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"arquivoPersist","description":"arquivoPersist","required":true,"schema":{"$ref":"#/definitions/ArquivoPersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArquivoDetalheResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/arquivos-auditorias":{"get":{"tags":["Arquivo"],"summary":"Lista as auditorias de arquivos vinculadas a um Número da Receita Federal","description":"Este recurso permite listar as auditorias de arquivos vinculadas a um Número da Receita Federal que será passado como parâmetro","operationId":"listarAuditorias","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"numeroReceitaFederal","in":"query","description":"Parâmetro vinculado a um arquivo no ato de seu cadastro","required":true,"type":"string"},{"name":"page","in":"query","description":"Página solicitada (Default =0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default = 50, Max = 50)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageArquivoAUDResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/arquivos/integrar":{"post":{"tags":["Arquivo"],"summary":"Integrar Arquivos","description":"Este recurso foi desenvolvido para realizar a integração de arquivos do PIER Cloud junto a repositórios externos pré-configurado","operationId":"integrarArquivos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"integrarArquivoRequest","description":"integrarArquivoRequest","required":true,"schema":{"$ref":"#/definitions/IntegrarArquivoRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/arquivos/{id}":{"get":{"tags":["Arquivo"],"summary":"Consulta de arquivo no PIER Cloud","description":"Este recurso permite consultar um determinado arquivo armazenado no PIER Cloud","operationId":"consultarArquivo","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do arquivo","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArquivoDetalheResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/arquivos/{id}/auditorias":{"get":{"tags":["Arquivo"],"summary":"Lista as auditorias do arquivo","description":"Este recurso permite listar as auditorias de um determinado arquivo a partir do seu código de identificação (id)","operationId":"listarAuditoriasDeArquivo","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do arquivo","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Página solicitada (Default =0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default = 50, Max = 50)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageArquivoAUDResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/atendimento-clientes":{"get":{"tags":["CadastroGeral"],"summary":"Lista todos os atendimentos","description":"Este método permite que sejam listados todos os Registro de Atendimento, independente do Tipo","operationId":"listarAtendimentosClientes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"idTipoAtendimento","in":"query","description":"Código de Identificação do Tipo de Atendimento (id)","required":false,"type":"integer","format":"int64"},{"name":"idConta","in":"query","description":"Código de identificação de conta (id)","required":false,"type":"integer","format":"int64"},{"name":"nomeAtendente","in":"query","description":"Apresenta o nome do Atendente que registrou o Atendimento","required":false,"type":"string"},{"name":"dataAtendimento","in":"query","description":"Apresenta a data em que o Atendimento foi realizado","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageAtendimentoClienteResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"post":{"tags":["CadastroGeral"],"summary":"Cadastro um novo Atendimento do tipo Genérico para uma Conta","description":"Este método permite cadastra um novo atendimento do tipo Genérico para uma Conta","operationId":"salvarAtendimentoCliente","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"idConta","in":"query","description":"Código de Identificação da Conta a qual o Atendimento está associado","required":false,"type":"integer","format":"int64"},{"name":"conteudoAtendimento","in":"query","description":"Conteúdo do Atendimento","required":false,"type":"string"},{"name":"detalhesAtendimento","in":"query","description":"Apresenta os detalhes lançados pelo sistema ou pelo Atendente durante relacionados ao Atendimento","required":false,"type":"string"},{"name":"nomeAtendente","in":"query","description":"Apresenta o nome do Atendente que registrou o Atendimento","required":false,"type":"string"},{"name":"dataAtendimento","in":"query","description":"Apresenta a data e hora em que o Atendimento foi realizado no formato yyyy-MM-dd'T'HH:mm:ss.SSS'Z'","required":false,"type":"string"},{"name":"dataAgendamento","in":"query","description":"Quando utilizado, de acordo com o Tipo de Atendimento, apresenta a data e hora para processamento ou a data e hora para retorno do Atendimento no formato yyyy-MM-dd'T'HH:mm:ss.SSS'Z'","required":false,"type":"string"},{"name":"dataHoraInicioAtendimento","in":"query","description":"Apresenta a data e hora em que o Atendimento foi iniciado. Quando utilizado, serve para medir a performance dos Atendimentos no formato yyyy-MM-dd'T'HH:mm:ss.SSS'Z'","required":false,"type":"string"},{"name":"dataHoraFimAtendimento","in":"query","description":"Apresenta a data e hora em que o Atendimento foi finalizado. Quando utilizado, serve para medir a performance dos Atendimentos no formato yyyy-MM-dd'T'HH:mm:ss.SSS'Z'","required":false,"type":"string"},{"name":"flagFilaFraude","in":"query","description":"Flag fila fraude","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AtendimentoClienteResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/atendimento-clientes/{id}":{"get":{"tags":["CadastroGeral"],"summary":"Apresenta os dados de um determinado Atendimento","description":"Este método permite consultar os parâmetros de um determinado Atendimento a partir do seu código de identificação (idAtendimento)","operationId":"consultarAtendimentoCliente","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do atendimento cliente (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AtendimentoClienteResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/ativos/problematicos/classificacoes":{"get":{"tags":["Configuracoes"],"summary":"Listar classificação dos ativos problemáticos","description":"Lista a classificação dos ativos problemáticos","operationId":"listarClassificacaoAtivoProblematico","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageCdtClassificacaoAtivoProblematicoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"post":{"tags":["Configuracoes"],"summary":"Cadastrar classificação dos ativos problemáticos","description":"Cadastra a classificação dos ativos problemáticos","operationId":"cadastrarClassificacaoAtivoProblematico","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"CdtClassificacaoAtivoProblematicoPersist","description":"Objeto de cadastro de classificação de ativo problemático","required":true,"schema":{"$ref":"#/definitions/CdtClassificacaoAtivoProblematicoPersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CdtClassificacaoAtivoProblematicoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/ativos/problematicos/{id}/classificacoes":{"put":{"tags":["Configuracoes"],"summary":"Atualizar classificação dos ativos problemáticos","description":"Atualiza uma classificação dos ativos problemáticos","operationId":"alterarClassificacaoAtivoProblematico","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código identificador da classificação do ativo problemático","required":true,"type":"integer","format":"int64"},{"in":"body","name":"CdtClassificacaoAtivoProblematicoUpdate","description":"Objeto de atualização de classificação de ativo problemático","required":true,"schema":{"$ref":"#/definitions/CdtClassificacaoAtivoProblematicoUpdate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CdtClassificacaoAtivoProblematicoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"delete":{"tags":["Configuracoes"],"summary":"Deletar classificação dos ativos problemáticos","description":"Deleta uma classificação dos ativos problemáticos a partir do seu código de identificação","operationId":"deletarClassificacaoAtivoProblematico","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código identificador da classificação do ativo problemático","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/auditorias-oportunidades":{"get":{"tags":["Oportunidade"],"summary":"Lista as auditorias das oportunidades","description":"Este recurso permite listar as auditorias das oportunidades","operationId":"listarAuditoriasOportunidades","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"idStatusOportunidade","in":"query","description":"Código identificador do status oportunidade","required":false,"type":"integer","format":"int64"},{"name":"dataCadastro","in":"query","description":"Data do cadastro da oportunidade","required":false,"type":"string"},{"name":"dataAtualizacao","in":"query","description":"Data da atualização da oportunidade","required":false,"type":"string"},{"name":"numeroReceitaFederal","in":"query","description":"Número receita federal do cliente ao qual será ofertada a oportunidade","required":false,"type":"string"},{"name":"dataInicioVigencia","in":"query","description":"Início da vigência da oportunidade","required":false,"type":"string"},{"name":"datatFimVigencia","in":"query","description":"Fim da vigência da oportunidade","required":false,"type":"string"},{"name":"flagAtivo","in":"query","description":"Flag de verificação se a oportunidade está ativa","required":false,"type":"boolean"},{"name":"revDate","in":"query","description":"Data da auditoria","required":false,"type":"string"},{"name":"revType","in":"query","description":"Tipo da auditoria","required":false,"type":"string"},{"name":"revUser","in":"query","description":"Usuário da auditoria","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageOportunidadeAUDResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/auditorias-status-oportunidades":{"get":{"tags":["Oportunidade"],"summary":"Lista as auditorias dos status oportunidades","description":"Este recurso permite listar os status oportunidades","operationId":"listarAuditoriasStatusTiposOportunidades","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"revType","in":"query","description":"Código que representa o tipo de ação realizada no recurso de tipos oportunidades","required":false,"type":"integer","format":"int64"},{"name":"revDate","in":"query","description":"Data da ação realizada no recurso de tipos oportunidades","required":false,"type":"string"},{"name":"id","in":"query","description":"Código identificador do status oportunidade","required":false,"type":"integer","format":"int64"},{"name":"idTipoOportunidade","in":"query","description":"Código identificador do tipo oportunidade","required":false,"type":"integer","format":"int64"},{"name":"nome","in":"query","description":"Nome do status oportunidade","required":false,"type":"string"},{"name":"descricao","in":"query","description":"Descrição do status oportunidade","required":false,"type":"string"},{"name":"flagAtivo","in":"query","description":"Flag de verificação se o status oportunidade está ativo","required":false,"type":"boolean"},{"name":"revUser","in":"query","description":"Usuário da auditoria","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageStatusOportunidadeAUDResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/auditorias-tipos-oportunidades":{"get":{"tags":["Oportunidade"],"summary":"Lista as auditorias dos tipos oportunidades","description":"Este recurso permite listar os tipos oportunidades","operationId":"listarAuditoriasTiposOportunidades","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"revType","in":"query","description":"Código que representa o tipo de ação realizada no recurso de tipos oportunidades","required":false,"type":"integer","format":"int64"},{"name":"revDate","in":"query","description":"Data da ação realizada no recurso de tipos oportunidades","required":false,"type":"string"},{"name":"id","in":"query","description":"Código identificador do tipo oportunidade no qual foi realizado a ação","required":false,"type":"integer","format":"int64"},{"name":"descricao","in":"query","description":"Descrição do tipo oportunidade no qual foi realizado a ação","required":false,"type":"string"},{"name":"flagAtivo","in":"query","description":"Atributo que representa se o tipo oportunidade está ativo","required":false,"type":"boolean"},{"name":"revUser","in":"query","description":"Usuário da auditoria","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageTipoOportunidadeAUDResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/autorizar-transacao":{"post":{"tags":["Autorizacao"],"summary":"Autoriza transação financeira pelo numero do cartão","description":"Este método faz uma autorização de transação financeira com o numero do cartão","operationId":"autorizarTransacao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"autorizacaoOnUsRequest","description":"autorizacaoOnUsRequest","required":true,"schema":{"$ref":"#/definitions/AutorizacaoOnUsRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransacaoOnUsResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/bancos":{"get":{"tags":["CadastroGeral"],"summary":"Lista os Bancos cadastrados para o Emissor","description":"Este método permite que sejam listados os Bancos existentes na base de dados do Emissor","operationId":"listarBancos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"nome","in":"query","description":"Nome do banco","required":false,"type":"string"},{"name":"descricao","in":"query","description":"Descrição do banco","required":false,"type":"string"},{"name":"digitoBanco","in":"query","description":"Dígito verificador do banco","required":false,"type":"string"},{"name":"ispb","in":"query","description":"Número identificador de sistema de pagamento brasileiro ","required":false,"type":"string"},{"name":"cnpj","in":"query","description":"Número do CNPJ do banco","required":false,"type":"string"},{"name":"flagAtivoBacen","in":"query","description":"Indica se o banco está ativo no BACEN","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageBancoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"post":{"tags":["CadastroGeral"],"summary":"Recurso para salvar um banco","description":"Recurso para salvar um novo banco","operationId":"salvarBanco","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"bancoPersist","description":"bancoPersist","required":true,"schema":{"$ref":"#/definitions/BancoPersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BancoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/bancos/{id}":{"get":{"tags":["CadastroGeral"],"summary":"Apresenta os dados de um determinado Banco","description":"Este método permite consultar um determinado Banco a partir do seu código de identificação (id)","operationId":"consultarBanco","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do Banco (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BancoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"put":{"tags":["CadastroGeral"],"summary":"Recurso para atualizar dados de um banco","description":"Este método permite que sejam alterados os dados de um banco","operationId":"alterarBanco","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"bancoUpdate","description":"bancoUpdate","required":true,"schema":{"$ref":"#/definitions/BancoUpdate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BancoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/boletos":{"get":{"tags":["Boleto"],"summary":"Lista os boletos especificados","description":"Este serviço lista os boletos especificados","operationId":"listarBoletos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"idConta","in":"query","description":"Id da Conta","required":false,"type":"integer","format":"int64"},{"name":"dataVencimento","in":"query","description":"Data de vencimento","required":false,"type":"string"},{"name":"valorBoleto","in":"query","description":"Valor do boleto","required":false,"type":"number"},{"name":"idTipoBoleto","in":"query","description":"Tipo de boleto","required":false,"type":"integer","format":"int64"},{"name":"nossoNumero","in":"query","description":"Nosso número","required":false,"type":"integer","format":"int64"},{"name":"idEventoPagamento","in":"query","description":"Id do evento de pagamento","required":false,"type":"integer","format":"int32"},{"name":"statusParcela","in":"query","description":"Status da parcela","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageBoletoListarResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"post":{"tags":["Boleto"],"summary":"Gera um tipo de boleto","description":"Este recurso gera um tipo de boleto","operationId":"gerarBoleto","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"boletoRequest","description":"boletoRequest","required":true,"schema":{"$ref":"#/definitions/BoletoRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BoletoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/boletos/{id}":{"get":{"tags":["Boleto"],"summary":"Busca um boleto pelo seu identificador","description":"Este serviço busca um boleto pelo seu identificador","operationId":"consultarBoleto","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação da Cobranca (id)","required":true,"type":"integer","format":"int64"},{"name":"zeraValorCodigoBarras","in":"query","description":"Indica se deve zerar o campo de valor do código de barras","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BoletoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/boletos/{id}/arquivo.pdf":{"get":{"tags":["Boleto"],"summary":"Gerar boleto de pagamento","description":"Gera um boleto de pagamento em formato PDF","operationId":"visualizarBoleto","consumes":["application/json"],"produces":["application/pdf","*/*"],"parameters":[{"name":"zeraValorCodigoBarras","in":"query","description":"Indica se o fator de vencimento e valor do documento devem ser zerados na linha digitável","required":false,"type":"boolean"},{"name":"id","in":"path","description":"Código de Identificação do boleto","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/boletos/{id}/enviar-email":{"post":{"tags":["Boleto"],"summary":"Envia um boleto por E-mail","description":"Este serviço envia um boleto por E-mail","operationId":"enviarBoletoPorEmail","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação da Cobranca (id)","required":true,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/BoletoEmailRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/boletos/{id}/historicos":{"get":{"tags":["Boleto"],"summary":"Listar histórico de status do boleto","description":"Lista todos os status que um determinado boleto passou","operationId":"listarHistoricoStatusBoletos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código Identificador do boleto","required":true,"type":"integer","format":"int64"},{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageStatusBoletoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/boletos/{id}/registrar":{"post":{"tags":["Boleto"],"summary":"Registra uma cobranca na entidade banco relacionada a cobranca informado","description":"Este recurso registra uma cobranca emitido","operationId":"registrarBoleto","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação da Cobranca (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BoletoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/campanhas":{"get":{"tags":["CadastroGeral"],"summary":"Listar Campanhas","description":"Lista as campanhas","operationId":"listarCampanhas","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"idTipoCampanha","in":"query","description":"Código de Identificação do tipo de campanha (id)","required":false,"type":"integer","format":"int64"},{"name":"nome","in":"query","description":"Nome da campanha","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageCampanhaResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"post":{"tags":["CadastroGeral"],"summary":"Inserir campanha","description":"Este método permite que seja cadastrado uma nova campanha","operationId":"salvarCampanha","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"campanhaPersist","description":"campanhaPersist","required":true,"schema":{"$ref":"#/definitions/CampanhaPersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CampanhaResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/campanhas/{id}":{"get":{"tags":["CadastroGeral"],"summary":"Consultar campanha","description":"Este método permite que sejam listados os dados de uma determinada campanha existente na base do emissor. Para isso, é preciso informar o seu respectivo código de identificação (id)","operationId":"consultarCampanha","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"ID da Campanha","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CampanhaResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"put":{"tags":["CadastroGeral"],"summary":"Alterar campanha","description":"Este método permite que sejam alterados os dados de uma campanha","operationId":"alterarCampanha","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação da campanha (id)","required":true,"type":"integer","format":"int64"},{"in":"body","name":"update","description":"update","required":true,"schema":{"$ref":"#/definitions/CampanhaUpdate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CampanhaResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cancelar-transacao":{"post":{"tags":["Autorizacao"],"summary":"Cancela transação financeira","description":"Este método permite que seja cancelada uma transação","operationId":"cancelarTransacao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"cancelamentoRequest","description":"cancelamentoRequest","required":true,"schema":{"$ref":"#/definitions/CancelamentoTransacaoOnUsRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransacaoOnUsResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes":{"get":{"tags":["Cartao"],"summary":"Lista os Cartões gerados pelo Emissor","description":"Este método permite que sejam listados os cartões existentes na base do emissor","operationId":"listarCartoes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"idStatusCartao","in":"query","description":"Código de Identificação do Status do Cartão. Para saber o código do status cartões, consultar /api/status-cartoes (GET)","required":false,"type":"integer","format":"int64"},{"name":"idEstagioCartao","in":"query","description":"Código de Identificação do Estágio de Impressão do Cartão. Para saber o código do Estágio da Impressão do Cartão, consultar /api/estagios-cartoes (GET)","required":false,"type":"integer","format":"int64"},{"name":"idConta","in":"query","description":"Código de Identificação da Conta a qual o cartão pertence. Para saber o código da conta, consultar /api/contas (GET)","required":false,"type":"integer","format":"int64"},{"name":"idPessoa","in":"query","description":"Código de Identificação da Pessoa a qual o cartão pertence. Para saber o código da pessoa, consultar /api/pessoas (GET)","required":false,"type":"integer","format":"int64"},{"name":"idProduto","in":"query","description":"Código de Identificação do Produto a qual o cartão pertence. Para saber o código do produto, consultar /api/produtos (GET)","required":false,"type":"integer","format":"int64"},{"name":"tipoPortador","in":"query","description":"Mostre o tipo do titular do cartão, sendo: ('T': titular, 'A': adicional)","required":false,"type":"string"},{"name":"numeroCartao","in":"query","description":"Apresenta o número do cartão","required":false,"type":"string"},{"name":"nomeImpresso","in":"query","description":"Apresenta o nome impresso no cartão","required":false,"type":"string"},{"name":"dataGeracao","in":"query","description":"Apresenta a data em que o cartão foi gerado no formato yyyy-MM-dd. Ex: 2015-12-01","required":false,"type":"string"},{"name":"dataStatusCartao","in":"query","description":"Apresenta a data em que o idStatusCartao atual do cartão fora aplicado, quando houver, no formato yyyy-MM-dd. Ex: 2015-12-01","required":false,"type":"string"},{"name":"dataEstagioCartao","in":"query","description":"Apresenta a data em que o idEstagioCartao atual do cartão fora aplicado, quando houver, no formato yyyy-MM-dd. Ex: 2015-12-01","required":false,"type":"string"},{"name":"dataValidade","in":"query","description":"Mostrar a data da expiração do cartão, quando houver, no formato yyyy-MM. Ex: 2020-12","required":false,"type":"string"},{"name":"dataImpressao","in":"query","description":"Apresenta a data em que o cartão fora impresso, caso impressão em loja, ou a data em que ele fora incluído no arquivo para impressão via gráfica, no formato yyyy-MM-dd. Ex: 2015-12-01","required":false,"type":"string"},{"name":"arquivoImpressao","in":"query","description":"Apresenta o nome do arquivo onde o cartão fora incluído para impressão por uma gráfica, quando houver","required":false,"type":"string"},{"name":"flagImpressaoOrigemComercial","in":"query","description":"Quando ativa, indica que o cartão fora impresso na Origem Comercial (0= Inativo, 1= Ativo)","required":false,"type":"integer","format":"int32"},{"name":"flagProvisorio","in":"query","description":"Quando ativa, indica que o cartão é provisório. Ou seja, é um cartão para uso temporário quando se deseja permitir que o cliente transacione sem que ele tenha recebido um cartão definitivo (0= Inativo, 1= Ativo)","required":false,"type":"integer","format":"int32"},{"name":"codigoDesbloqueio","in":"query","description":"Apresenta um código específico para ser utilizado como variável no processo de desbloqueio do cartão para emissores que querem usar esta funcionalidade","required":false,"type":"string"},{"name":"sequencialCartao","in":"query","description":"Número sequencial do cartão","required":false,"type":"integer","format":"int32"},{"name":"identificadorExterno","in":"query","description":"Identificador externo do cartão","required":false,"type":"integer","format":"int64"},{"name":"flagCartaoMifare","in":"query","description":"Identifica se o cartão contém a tecnologia mifare (false= Inativo, true= Ativo)","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/controles-configuracoes":{"get":{"tags":["ControleCartao"],"summary":"Lista os cartões configurados pelo remetente","description":"Esse método permite listar os cartões configurados para bloqueios de transação na base do remetente","operationId":"listarConfiguracaoControleCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"idCartao","in":"query","description":"Código Identificador do cartao na base (id)","required":false,"type":"integer","format":"int64"},{"name":"permiteEcommerce","in":"query","description":"Flag para autorização de transações ecommerce","required":false,"type":"boolean"},{"name":"permiteSaque","in":"query","description":"Flag para autorização de transações de saque","required":false,"type":"boolean"},{"name":"permiteWallet","in":"query","description":"Flag para autorização de transações por meio wallet","required":false,"type":"boolean"},{"name":"permiteControleMCC","in":"query","description":"Indica se o cartão está ativo para controle por grupos de MCCs","required":false,"type":"boolean"},{"name":"permiteCompraInternacional","in":"query","description":"Indica se o cartão está habilitado/desabilitado para transações internacionais","required":false,"type":"boolean"},{"name":"permiteTarjaMagnetica","in":"query","description":"Indica se o cartão está habilitado/desabilitado para transações por tarja magnetica","required":false,"type":"boolean"},{"name":"permiteContactless","in":"query","description":"Indica se o cartão está habilitado/desabilitado para transações via contactless","required":false,"type":"boolean"},{"name":"limiteContactlessSemSenha","in":"query","description":"Indica o limite usado em transações com a função contactless sem senha","required":false,"type":"number"},{"name":"funcaoAtiva","in":"query","description":"Indica o tipo de função ativa","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageConfiguracaoControleCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/controles-grupomcc":{"get":{"tags":["ControleCartao"],"summary":"Lista os cartões vinculados aos estabelecimentos.","description":"Esse método permite listar os cartões registrados respectivamente para grupos MCC.","operationId":"listarControleGrupoMCCPorCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"idCartao","in":"query","description":"Código Identificador do cartao na base (id)","required":false,"type":"integer","format":"int64"},{"name":"idGrupoMCC","in":"query","description":"Código Identificador do grupo mcc na base.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageControleCartaoGrupoMCCResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/controles-limites":{"get":{"tags":["ControleCartao"],"summary":"Lista o controle de limites dos cartões","description":"Este recurso permite que sejam listados todos os controles de limites por cartão, o controle de limites tem por finalidade gerenciar a utilização do limite diponível global da conta, limitando o gasto diário, semanal, mensal ou por ciclo de um cartão","operationId":"listarControlesDeLimites","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"idCartao","in":"query","description":"Id do cartão","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageControleLimiteCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/gerar-cartoes-multiapp":{"post":{"tags":["Cartao","MultiApp"],"summary":"Cadastrar cartões MultiApp","description":"Este recurso permite o cadastro de cartões MultiApp","operationId":"criarCartoesMultiApp","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"cartaoMultiAppPersist","description":"cartaoMultiAppPersist","required":true,"schema":{"$ref":"#/definitions/CartaoMultiAppPersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/VinculoCartoesResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/lotes-cartoes-pre-pagos":{"get":{"tags":["Cartao"],"summary":"Permite listar os Lotes de Cartões Pré-Pago","description":"Este método permite que sejam listados os cartões pré-pagos existentes na base do emissor","operationId":"listarLotesCartoesPrePagos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sort","in":"query","description":"Tipo de ordenação dos registros","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Página solicitada (Default = 0)","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Limite de elementos por solicitação (Default =50, Max =50)","required":false,"type":"integer","format":"int32"},{"name":"idOrigemComercial","in":"query","description":"Código de Identificação da Origem Comercial (id)","required":false,"type":"integer","format":"int64"},{"name":"idProduto","in":"query","description":"Código de Identificação do Produto (id)","required":false,"type":"integer","format":"int64"},{"name":"idTipoCartao","in":"query","description":"Código de Identificação do Tipo do Cartão (id)","required":false,"type":"integer","format":"int64"},{"name":"idImagem","in":"query","description":"Código de Identificação da Imagem (id)","required":false,"type":"integer","format":"int64"},{"name":"idEndereco","in":"query","description":"Código de Identificação do Endereço (id)","required":false,"type":"integer","format":"int64"},{"name":"quantidadeCartoes","in":"query","description":"Número de cartões existentes no Lote","required":false,"type":"integer","format":"int32"},{"name":"dataCadastro","in":"query","description":"Data de Cadastro do Lote de Cartões Não Nominais","required":false,"type":"string"},{"name":"usuarioCadastro","in":"query","description":"Nome do Usuário que criou o Lote","required":false,"type":"string"},{"name":"statusProcessamento","in":"query","description":"Indica o Status de Processamento do Lote","required":false,"type":"integer","format":"int32"},{"name":"identificadorExterno","in":"query","description":"Número de identificação externo (utilizado pelo emissor)","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PageLoteCartoesPrePagosResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"post":{"tags":["Cartao"],"summary":"Permite gerar um novo Lote de Cartões Pré-Pago","description":"Esta operação tem como objetivo permitir que os Emissores gerem uma determinada quantidade de Cartões Pré-Pagos, de forma não nominal, os quais poderão ser comercializados e posteriormente vinculados a um cliente que o adquirir. Para isso, além de definir quantos cartões deverão ser gerados, será possível definir qual a Origem Comercial, o Produto, o Tipo do Cartão, a Imagem e o Endereço para entrega dos Cartões presentes no lote gerado. Por padrão, todos os cartões serão associados a um idPessoa fictício e receberá um idConta único para cada um deles. Feito isso, os Cartões gerados por esta operação seguirão os mesmos processos de impressão via gráfica previamente definidos entre o Emissor e a Conductor","operationId":"gerarLoteCartoesPrePagos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"idOrigemComercial","in":"query","description":"Código de Identificação da Origem Comercial (id)","required":false,"type":"integer","format":"int64"},{"name":"idProduto","in":"query","description":"Código de Identificação do Produto (id)","required":false,"type":"integer","format":"int64"},{"name":"idTipoCartao","in":"query","description":"Código de Identificação do Tipo do Cartão (id)","required":false,"type":"integer","format":"int64"},{"name":"idImagem","in":"query","description":"Código de Identificação da Imagem (id)","required":false,"type":"integer","format":"int64"},{"name":"idEndereco","in":"query","description":"Código de Identificação do Endereço (id)","required":false,"type":"integer","format":"int64"},{"name":"quantidadeCartoes","in":"query","description":"Número de cartões existentes no Lote","required":false,"type":"integer","format":"int32"},{"name":"identificadorExterno","in":"query","description":"Número de identificação externo (utilizado pelo emissor)","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoteCartoesPrePagosResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/lotes-cartoes-pre-pagos/{id}":{"get":{"tags":["Cartao"],"summary":"Permite consultar um determinado Lote de Cartões Pré-Pago","description":"Este método permite consultar os cartões pré-pagos existentes na base do emissor através do id do lote","operationId":"consultarLoteCartoesPrePagos","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do lote de cartões (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoteCartoesPrePagosResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/validar-dados-impressos-bandeirados":{"get":{"tags":["Cartao"],"summary":"Permite validar os dados impressos em um cartão bandeirado","description":"Esta operação tem como objetivo permitir que os Emissores validem a autenticidade de um determinado Cartão a partir do envio dos dados sensíveis impressos nele. A utilização desde método tem diversas aplicações, sendo a principal delas a de Identificação Positiva do Cartão para a realização de transações e-commerce ou por meio de Centrais de Atendimento Eletrônico (URA), dentre outras","operationId":"validarDadosCartaoBandeirado","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"numero_cartao","in":"query","description":"Número do cartão a ser validado","required":true,"type":"string"},{"name":"nome_portador","in":"query","description":"Nome do portador do cartão","required":true,"type":"string"},{"name":"data_validade","in":"query","description":"Data de validade do cartão no formato yyyy-MM","required":true,"type":"string"},{"name":"codigo_seguranca","in":"query","description":"Código de segurança do cartão com três números","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ValidaCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/validar-dados-impressos-nao-bandeirados":{"get":{"tags":["Cartao"],"summary":"Permite validar os dados impressos de um cartao não bandeirado","description":"Esta operação tem como objetivo permitir que os Emissores validem a autenticidade de um determinado Cartão a partir do envio dos dados sensíveis impressos nele. A utilização desde método tem diversas aplicações, sendo a principal delas a de Identificação Positiva do Cartão para a realização de transações e-commerce ou por meio de Centrais de Atendimento Eletrônico (URA), dentre outras","operationId":"validarDadosCartaoPrivate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"numero_cartao","in":"query","description":"Número do cartão a ser validado","required":true,"type":"string"},{"name":"nome_portador","in":"query","description":"Nome do portador do cartão","required":true,"type":"string"},{"name":"data_validade","in":"query","description":"Data de validade do cartão no formato yyyy-MM","required":true,"type":"string"},{"name":"codigo_seguranca","in":"query","description":"Código de segurança do cartão com três números","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ValidaCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/validar-de55-mastercard":{"get":{"tags":["Cartao"],"summary":"Permite validar um Cartão com bandeira Mastercard a partir do de55","description":"Esta operação tem como objetivo permitir que os Emissores validem o DE55 gerado a partir da leitura de um chip EMV de um Cartão com bandeira Mastercard a fim de verificar a sua autenticidade. A utilização desde método tem diversas aplicações, sendo a principal delas a de Identificação Positiva do Cartão antes de permitir que o portador realize transações diversas, como as de compra e saque na modalidade débito em conta corrente, dentre outras","operationId":"validarDE55Mastercard","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"numero_cartao","in":"query","description":"Número do cartão a ser validado","required":true,"type":"string"},{"name":"criptograma","in":"query","description":"Criptograma do cartão no formato de55","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ValidaCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/validar-tarja":{"get":{"tags":["Cartao"],"summary":"Permite validar um Cartão Bandeirado a partir da Tarja","description":"Esta operação tem como objetivo permitir que os Emissores validem a autenticidade de um determinado Cartão a partir da leitura da tarja magnética do mesmo. A utilização desde método tem diversas aplicações, sendo a principal delas a de Identificação Positiva do Cartão antes de permitir que o portador realize transações diversas, como as de compra e saque na modalidade débito em conta corrente, dentre outras","operationId":"validarTarja","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"numero_cartao","in":"query","description":"Número do cartão a ser validado","required":true,"type":"string"},{"name":"trilha1","in":"query","description":"Trilha 1 do cartão a ser validado","required":true,"type":"string"},{"name":"trilha2","in":"query","description":"Trilha 2 do cartão a ser validado","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ValidaCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/{id}":{"get":{"tags":["Cartao"],"summary":"Apresenta os dados de um determinado Cartão","description":"Este método permite consultar as informações básicas de um determinado Cartão a partir do seu código de identificação (id)","operationId":"consultarCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do Cartão (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartaoDetalheResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/{id}/alterar-estagio":{"post":{"tags":["Cartao"],"summary":"Realiza a alteração de um estágio de cartão","description":"Esta método permite que seja alterado o estágio do cartão para um outro informado na requisição","operationId":"alterarEstagio","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do Cartão (id)","required":true,"type":"integer","format":"int64"},{"in":"body","name":"update","description":"Código de identificação de um estágio de cartao (estágio)","required":true,"schema":{"$ref":"#/definitions/EstagioCartaoUpdate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartaoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/{id}/alterar-status-impressao":{"put":{"tags":["Cartao"],"summary":"Realiza a alteração do Status de Impressão do Cartão","description":"Este método permite que uma Aplicação que realize a impressão de cartões possa indicar que um determinado idCartao fora impresso ou está em processo de impressão. Para isso, basta informar o respectivo código de identificação do cartão (id) que deseja ter seu um determinado id_status_impressao atribuído a ele. Por padrão, cartões provisórios ou que já tenham sido incluídos em um arquivo para impressão via gráfica terão esta requisição negada, se utilizada","operationId":"alterarStatusImpressao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do Cartão (id)","required":true,"type":"integer","format":"int64"},{"name":"id_status_impressao","in":"query","description":"Código de Identificação do Status Impressão (Id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/HistoricoImpressaoCartaoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/{id}/atribuir-titular":{"put":{"tags":["Cartao"],"summary":"Realiza a atribuição de um cartão pré-pago a uma pessoa","description":"Esta método permite que um cartão pré-pago impresso de forma avulsa e anônimo seja atribuído a uma pessoa para que esta passe a ser a portadora titular dele","operationId":"atribuirPessoa","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do Cartão (id)","required":true,"type":"integer","format":"int64"},{"name":"id_pessoa","in":"query","description":"Código de identificação de uma Pessoa (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartaoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/{id}/autorizar-transacao":{"post":{"tags":["Autorizacao"],"summary":"Autoriza transação financeira pelo idCartao","description":"Este método faz uma autorização de transação financeira com o idCartao","operationId":"autorizarTransacaoPorCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id Cartao","required":true,"type":"integer","format":"int64"},{"in":"body","name":"transacaoOnUsPorIdCartaoRequest","description":"transacaoOnUsPorIdCartaoRequest","required":true,"schema":{"$ref":"#/definitions/TransacaoOnUsPorIdCartaoRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransacaoOnUsResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/{id}/bloquear":{"post":{"tags":["Cartao"],"summary":"Realiza o bloqueio de um determinado Cartão","description":"Este método permite a realização do bloqueio (temporário) ou do cancelamento (definitivo) de um determinado cartão a partir do seu código de identificação (id). Para isso, é preciso informar qual o motivo deste bloqueio que nada mais é do que atribuir um novo StatusCartao para ele dentre as opções praticadas pelo emissor","operationId":"bloquearCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do Cartão (id)","required":true,"type":"integer","format":"int64"},{"name":"id_status","in":"query","description":"Código de Identificação do Novo Status Cartão","required":true,"type":"integer","format":"int64"},{"name":"observacao","in":"query","description":"Texto informando uma observação sobre o bloqueio","required":true,"type":"string"},{"name":"usuario","in":"query","description":"Usuário que realizou a requisição","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartaoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/{id}/cancelar":{"post":{"tags":["Cartao"],"summary":"Realiza o cancelamento de um determinado Cartão","description":"Este método permite a realização cancelamento de um determinado cartão a partir do seu código de identificação (id). Para isso, é preciso informar qual o motivo deste bloqueio que nada mais é do que atribuir um novo StatusCartao para ele dentre as opções praticadas pelo emissor","operationId":"cancelarCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do Cartão (id)","required":true,"type":"integer","format":"int64"},{"name":"id_status","in":"query","description":"Código de Identificação do Novo Status Cartão","required":true,"type":"integer","format":"int64"},{"name":"observacao","in":"query","description":"Texto informando uma observação sobre o cancelamento","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartaoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/{id}/cancelar-transacao":{"post":{"tags":["Autorizacao"],"summary":"Cancela transação financeira por idCartao","description":"Este método permite que seja cancelada uma transação a partir do idCartao","operationId":"cancelarTransacaoPorCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id Cartao","required":true,"type":"integer","format":"int64"},{"in":"body","name":"cancelamentoRequest","description":"cancelamentoRequest","required":true,"schema":{"$ref":"#/definitions/CancelamentoTransacaoPorIdCartaoRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TransacaoOnUsResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/{id}/consultar-dados-impressao":{"get":{"tags":["Cartao"],"summary":"Consultar os dados de impressão de um Cartão","description":"Esse recurso permite consultar os dados de impressão de um cartão","operationId":"consultarDadosImpressao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de identificação do cartão (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DadosCartaoImpressaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}],"deprecated":true}},"/api/cartoes/{id}/consultar-dados-reais":{"get":{"tags":["Cartao"],"summary":"Consultar Detalhes do Cartão","description":"Este método permite consultar os dados necessarios de um cartão para executar serviços de autorização.","operationId":"consultarDadosReaisCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Código de Identificação do Cartão (id)","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DadosCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}],"deprecated":true}},"/api/cartoes/{id}/controles-configuracoes":{"post":{"tags":["ControleCartao"],"summary":"Registra a configuração do cartão.","description":"O método registra a configuração do bloqueio ou não algum tipo de transação de uma determinada carta portadora.","operationId":"salvarConfiguracaoControleCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"configuracaoControleCartaoPersist","description":"configuracaoControleCartaoPersist","required":true,"schema":{"$ref":"#/definitions/ConfiguracaoControleCartaoPersist"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConfiguracaoControleCartaoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]}},"/api/cartoes/{id}/controles-configuracoes/{idConfiguracaoCartao}":{"get":{"tags":["ControleCartao"],"summary":"Exibe as configurações de bloqueio para um cartão específico.","description":"Este método permite consultar a informação da permissão em transações de um certo Cartão do código de identificação (id)","operationId":"consultarConfiguracaoControleCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"idConfiguracaoCartao","in":"path","description":"Código da configuração controle cartão","required":true,"type":"integer","format":"int64"},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConfiguracaoControleCartaoResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"delete":{"tags":["ControleCartao"],"summary":"Deletar uma configuração de um cartão.","description":"O metodo Deleta a configuração que está vinculada ao cartão e deixar sem bloqueio nas transações relacionadas ao mesmo.","operationId":"deletarConfiguracaoControleCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"idConfiguracaoCartao","in":"path","description":"Código da configuração controle cartão","required":true,"type":"integer","format":"int64"},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConfiguracaoControleCartaoResponse"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}},"security":[{"access_token":["global"]},{"client_id":["global"]}]},"patch":{"tags":["ControleCartao"],"summary":"Altera qualquer parte do log de configuração","description":"Esse método permite alterar qualquer parte da configuração de bloqueio do cartão ao validar o ticket de transação.","operationId":"alterarConfiguracaoControleCartao","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"idConfiguracaoCartao","in":"path","description":"Código da configuração controle cartão","required":true,"type":"integer","format":"int64"},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"configuracaoControleCartaoUpdate","description":"configuracaoControleCartaoUpdate","required":true,"schema":{"$ref":"#/definitions/ConfiguracaoControleCartaoUpdate"}}],"responses":{"200":{"description":"OK","s
[...]
